@CHARSET "UTF-8";

body {

	background-image:url(/theme/younited-nations-3/img/bg.jpg);
	
}

#main-container {
	
	background-image:url(/theme/younited-nations-3/img/yn3-bg.gif);
	min-height:1200px;
	background-position:center 170px;
	background-repeat:no-repeat;
	
}

#yn3-left-col {
	
	float:left;
	width:728px;	
	
}


#younited-nations-entry {
	
	margin-top:-40px;
	
	
}

#younited-nations-entry hr {

	border:none;
	height:2px;
	background-color:#8a3e2e;
	color:#8a3e2e;	
	
}

#younited-nations-entry .entry-form-div {
	
	width:728px;
	float:left;
}

#younited-nations-entry .entry-form-div .yn3-container {

	background-image:url(/theme/younited-nations-3/img/yn3-form-bg.png);
	margin-top:324px;
	
}

#younited-nations-entry .entry-form-div .yn3-container-top {
	
	background-image:url(/theme/younited-nations-3/img/v2-bg-top.png);
	background-repeat:no-repeat;
	margin-top:-324px;	
	min-height:600px;
	float:left;
}

#younited-nations-entry .entry-form-div .form-content {

	min-height:600px;	
	
}

#younited-nations-entry .signup-now {

	font-size:17px;
	font-weight:bold;	
	color:#8a3e2e;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}

#younited-nations-entry .entry-form-div .form-content {

	padding-top:250px;	
	
}

#younited-nations-entry .entry-form-div .form-content .rules {

	color:black;
	
	width:92%;
	margin:auto;
}

#younited-nations-entry .entry-form-div .form-content .rules p {

	font-family:'Courier';	
	font-size:12px;
	line-height:15px;
	text-align:justify;
	letter-spacing:.5px;
}

#younited-nations-entry .entry-form-div .form-content .rules ul {

	margin:0px;
	padding:0px;	
	list-style:none;
}
#younited-nations-entry .entry-form-div .form-content .rules ul li {
	
	margin-right:3px;
	margin-left:3px;
	padding:2px;	
	font-size:12px;
	font-family:'Courier';
	background-image:url(/theme/younited-nations-3/img/yn3-bullet.png);
	background-repeat:no-repeat;
	text-indent:10px;
	background-position:left 4px;
	text-transform:uppercase;
}
#younited-nations-entry .entry-form-div .form-content .rules .super-list ul li {

	float:left;
	font-size:18px;
	font-family:'Arial';
	margin-right:3px;
	margin-left:3px;
	font-weight:normal;
	background-position:left 6px;
}


#younited-nations-entry .entry-form-div .form-content .rules .heading {
	
	border-bottom:2px solid #8a3e2e;
	color:#8a3e2e;
	padding-bottom:0px;
	font-size:14px;
	font-weight:bold;
	font-family:'Arial';
	margin-top:5px;
}


#younited-nations-entry #entry-form {

	margin:auto;
	width:658px;
	background-image:url(/theme/younited-nations-3/img/yn3-form-borders.png);
	min-height:400px;
}

#younited-nations-entry #entry-form .inner {

	width:97%;
	margin:auto;	
	
}

#younited-nations-entry #entry-form .form-header {
	
	background-image:url(/theme/younited-nations-3/img/yn3-entry-header.jpg);
	height:47px;
	margin-bottom:10px;
	background-repeat:no-repeat;
	background-position:3px 0px;
}



#younited-nations-entry #entry-form .text,#younited-nations-entry #entry-form .select {
	
	height:40px;
	position:relative;
	margin-top:10px;
}



#younited-nations-entry #entry-form .text input, #younited-nations-entry #entry-form .text select {
	
	
	position:absolute;
	border:none;
	background-color:transparent;
	display:block;
	left:0px;
	top:0px;
	width:96%;
	height:22px;
	border-bottom:2px solid #444;
	font-family:'Courier';
	font-size:14px;
}



#younited-nations-entry #entry-form .text label,#younited-nations-entry #entry-form .select label {
	
	position:absolute;
	display:block;
	left:0px;
	top:27px;
	font-family:'Arial';
	color:black;
	font-size:11px;
	font-weight:bold;
	width:97%;
}


#younited-nations-entry #entry-form .heading {

	height:18px;
	text-indent:15px;
	background-image:url(/theme/younited-nations-3/img/entry-form-heading-bg.jpg);
	
}

#younited-nations-entry #entry-form .facebook-login-large {


	text-align:center;

}

#younited-nations-entry #entry-form .crew-info-form {
	
		
	
}
	
#younited-nations-entry #entry-form .crew-info-form .info-form {

	width:45%;		
	float:left;
}
#younited-nations-entry #entry-form .crew-info-form .map-holder {
	float:right;
	width:52%;	
	
	
}

#younited-nations-entry #entry-form .crew-info-form .map-holder .map-result {

	
	line-height:16px;
	font-family:'Courier';
	color:#666;
	font-size:12px;
	text-align:center;
}

#younited-nations-entry #entry-form .crew-info-form .map {

	height:260px;
	
}

#younited-nations-entry .right-col {
	
	
	
}


#younited-nations-entry #entry-form .green-label-check {

	background-image:url(/theme/younited-nations-3/img/yn3-green-check.png);
	background-repeat:no-repeat;
	background-position:right center;	
	
	
}

#younited-nations-entry #entry-form .update-map-span {

		font-size:10px;
		font-weight:normal;
		cursor:pointer;
	
}
#younited-nations-entry #entry-form .form-help {

	font-size:13px;
	color:#000;
	padding:3px;
	font-style:italic;
	
}

#younited-nations-entry #entry-form .red-label-x {
	
	background-image:url(/theme/younited-nations-3/img/yn3-red-x.png);
	background-repeat:no-repeat;
	background-position:right center;
	
}

#younited-nations-entry .submit-button {

		text-indent:-30000px;
		background-image:url(/theme/younited-nations-3/img/yn3-icons.png);
		height:36px;
		width:260px;
		background-position:0px -39px;
		border:2px solid #444;
		background-color:transparent;
		background-repeat:no-repeat;
	
}
#younited-nations-entry .update-button {

		text-indent:-30000px;
		background-image:url(/theme/younited-nations-3/img/yn3-icons.png);
		height:36px;
		width:260px;
		background-position:0px -78px;
		border:2px solid #444;
		background-color:transparent;
		background-repeat:no-repeat;
	
}

#younited-nations-entry .submit-holder {

	padding:5px;
	text-align:center;	
	
}

#younited-nations-entry .form-msg {

	font-family:'Courier';
	font-size:15px;
	color:#000;
	padding:3px;
	color:green;
}

#yn3-overlay {

	position:fixed;
	z-index:1900;
	background-image:url(/theme/younited-nations-3/img/overlay-bg.png);
	width:100%;	
	display:none;
}

#yn3-overlay .box {

	height:150px;
	width:400px;
	margin:auto;	
	background-image:url(/theme/younited-nations-3/img/overlay-bg.png);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
#yn3-overlay .box .content {

	padding:3px;
	text-align:center;
	font-family:'Arial';
	font-size:16px;
	
	
}

.roster-form-bit {
	
	width:315px;
	height:60px;
	background-image:url(/theme/younited-nations-3/img/crew-entry-bg.png);
	margin-top:5px;
	margin-bottom:5px;
	float:left;
	margin-right:4px;
	font-family:'Courier';
	color:black;
}

.roster-form-bit-enabled {

		
	
}

.roster-form-bit .enabled { }


.roster-form-bit .roster-inner {
	
	
	width:100%;
	
}


.roster-form-bit .form-body {
	
	padding-top:3px;
	
}

.roster-form-bit .form-body .left {
	
	float:left;
	width:50px;
	
	min-height:20px;
}

.roster-form-bit .form-body .left .number {

	float:right;
	width:59%;
	font-size:14px;
	line-height:20px;
	
}

.roster-form-bit .form-body .left .chk {

	float:left;
	width:40%;	
	
}

.roster-form-bit .form-body .left .chk input {

	background-color:transparent;
	border:2px solid #000;	
	
}

.roster-form-bit .form-body .center {
	
	margin-left:55px;
	margin-right:70px;
	min-height:14px;
	height:14px;
	
}

.roster-form-bit .form-body .center input {

	background-color:transparent;
	border:none;
	border-bottom:2px solid #444;	
	font-family:'Courier';
	width:100%;
	height:14px;
	font-size:12px;
	margin:0px;
	
	
}

.roster-form-bit .form-body  .label {

	font-size:11px;
	font-family:'Arial';
	font-weight:bold;	
	width:auto;
	float:left;
	padding-top:2px;
}

.roster-form-bit .form-body .right {
	
	float:right;
	width:65px;

	
}

.roster-form-bit .form-body .options {

	clear:both;	
	
	padding-right:20px;
}
.roster-form-bit .form-body .options .checkbox {

	float:right;
	margin-right:2px;	
	
}
.roster-form-bit .form-body .options .checkbox label {

	font-size:11px;
	font-family:'Arial';	
	text-transform: uppercase;
	padding-left:5px;
	padding-right:10px;
}

#younited-nations-entry #entry-form .roster-form-bit .right .select,#younited-nations-entry #entry-form .roster-form-bit .right .input {

	margin:0px;	
	height:20px;
	
}
#younited-nations-entry #entry-form .roster-form-bit .right label {

	height:14px;	
	
}

#entry-form .roster-form-bit .select select {

	width:50px;
	margin:auto;
	
}

.roster-form-bit .select label {

		
	
}

#younited-nations-entry #video-upload-form {
	
	
}

#younited-nations-entry #video-upload-form .left {
	width:50%;
	float:left;
}

#younited-nations-entry #video-upload-form .right {
	
	float:right;
	width:47%;
	padding-top:30px;
	text-align:center;
	color:black;
	font-family:'Arial';
}

#younited-nations-entry #video-upload-form .rules-heading {

	font-weight:bold;
	font-family:'Arial';
	font-size:15px;
	color:#444	
	
}

#younited-nations-entry #video-upload-form .upload-rules-list {
	
	margin:0px;
	padding:0px;
	font-size:11px;
	font-family:'Arial';
	color:#000;
}

#younited-nations-entry #video-upload-form .upload-rules-list li {

	margin:0px;
	margin-left:15px;
	padding:2px;
	
	
}

