@CHARSET "UTF-8";
body {

	background-color:#ccc;
	background-image:url(/theme/battle-at-the-berrics-5/img/main-bg.jpg);	
	
}


/*Generic post */

.d-post-bit .container-top {
	
	background-image:url(/theme/battle-at-the-berrics-5/img/gen-post-top.jpg);
	
}


.d-post-bit .container {
	
	background-image:url(/theme/battle-at-the-berrics-5/img/gen-post-bg.jpg);
	
}

.d-post-bit .bottom {
	
	background-image:url(/theme/battle-at-the-berrics-5/img/gen-post-bg.jpg);
	background-repeat:repeat-y;
}

.d-post-bit .container .container-top .title .sub-title {

	color:#333;	
	
}



/*
	TEAM BERRA POST
*/

.team-berra .container-top {

	background-image:url(/theme/battle-at-the-berrics-5/img/sb-post-top.jpg);

}

.team-berra .container {

	background-image:url(/theme/battle-at-the-berrics-5/img/sb-post-bg.jpg);

}

.team-berra .bottom {

	background-image:url(/theme/battle-at-the-berrics-5/img/sb-post-bg.jpg);
	background-repeat:repeat-y;
	
}


.team-berra .container .container-top .title .sub-title {

	color:#e9e9e9;	
	
}

/*
TEAM KOSTON
*/
.team-koston .container-top {

	background-image:url(/theme/battle-at-the-berrics-5/img/ek-post-top.jpg);

}

.team-koston .container {

	background-image:url(/theme/battle-at-the-berrics-5/img/ek-post-bg.jpg);

}

.team-koston .bottom {

	background-image:url(/theme/battle-at-the-berrics-5/img/ek-post-bg.jpg);
	background-repeat:repeat-y;
	
}

.team-koston .container .container-top .title .sub-title {

	color:#e9e9e9;	
	
}




