@CHARSET "UTF-8";
#right-col,#top-banner-container,#header-container,#footer {
	
	display:none;

}
#page-container {
	
	width:728px;
	margin:auto;
	padding-top:0px;
}

.enter-the-berrics {

	font-size:26px;
	text-align:center;
	padding-top:15px;

}

.enter-the-berrics a {

	color:white;

}