<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{HTTP_HOST} ^(www\.)?myberrics\.com [NC]
    RewriteCond %{HTTP_HOST} ^myberrics\.com [NC]
   	RewriteCond %{HTTP_HOST} ^(www\.)?theberricscanteen\.com [NC]
   	RewriteCond %{HTTP_HOST} ^theberricscanteen\.com [NC]
	RewriteRule ^(.*)$ http://theberrics.com/ [R=301,L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

