@CHARSET "UTF-8";


#battle-commander .d-post-bit {
	
	
	
}


#battle-commander .d-post-bit .dailyop_media_item {
	

	margin-top:240px;
	margin-left:-14px;
	
}

#battle-commander .d-post-bit .bottom {
	
	padding-top:40px;	
	
}

