@CHARSET "UTF-8";

* {

	margin:0px;
	padding:0px;	
	
}

body {

	font-size:110%;
	color:white;
	font-family:arial;
}
body p {

	padding:3px;
	line-height:110%;
	font-size:100%;	
	
}

body a {
	
	color:white;
	
}

body pre {

	
		
}


#main-container {
	
}

#page-wrapper {
	
	
}
#page-container {
	
}

#header-container {

}

#header {


}

#body-container {

}

#body-content {


}

#footer-container {



}

#footer {


}