body {

	
	background-image:url(/theme/progression/img/bg.jpg);
	background-position: center top;
	background-size: cover;

}

/*
########
LANDER
########
*/

#progression-lander {

	width:900px;
	margin:auto;
	padding-bottom:200px;
}

#progression-lander #post {

	background-image:url(/theme/progression/img/wide-still.jpg);
	background-repeat: no-repeat;

}

#report-queue-btn {

	display:none;

}

#progression-lander #post .post {

	border:none;

}

#progression-lander #sig {

	text-align: center;

}

#progression-lander #sig img {

	margin:auto;

}

#progression-lander #load-more {

	text-align: center;

}

#progression-lander #post .post .post-media-div .lazy {


	max-height: 374px;

}

#progression-lander #post .post .post-top,
#progression-lander #post .post .post-footer .tags {

	display:none;


}


#progression-lander #post .post .post-media-div object,
#progression-lander #post .post .post-media-div {

	
	max-width:900px;
	max-height:374px;
	height:374px;
}

#progression-lander #post .post .post-footer {

	background-image:url(/theme/progression/img/line.png);
	background-position: top top;
	background-repeat: no-repeat;
	max-width:900px;
	padding-top:50px;
}

#progression-lander #post .post .post-footer .social-media {

	width:180px;
	margin:auto;
	float:none;
}




/* Large desktop */
@media (min-width: 1200px) { 




 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }