@CHARSET "UTF-8";

/*
POPUP WINDOW
*/
#LevisOverlay {
	
	position:fixed;
	height:100%;
	width:100%;
	background-image:url(/img/layout/blk-px.png);
	z-index:9999;
	top:0px;
	left:0px;
	display:none;
	overflow:auto;
}

#LevisOverlay .wrapper {
	
	
	background-repeat:no-repeat;
	background-position:center center;
	height:100%;
}

#LevisOverlay .content {
	
	
	
}

#LevisOverlay .close-div {
	
	clear:both;
	height:25px;
	
}

#LevisOverlay .close-div .close-button {
	
	float:right;
	width:25px;
	height:25px;
	background-color:red;
	cursor:pointer;
	
}


/*
SECTION
*/

#levis-511-section .task-column {
	
	
	width:740px;
	float:right;
	background-image:url(/theme/levis-511-contest/img/list-bg.jpg);
}

#levis-511-section .task-column .heading {
	
	background-image:url(/theme/levis-511-contest/img/list-top.jpg);
	height:166px;
	
}

#levis-511-section .task-column .bottom {
	
	background-image:url(/theme/levis-511-contest/img/list-bottom.jpg);
	height:44px;
	
}

#levis-511-section .task {
	
	font-family:'Arial';
	color:#cc0033;
	width:345px;
	float:left;
	margin-left:10px;
	font-size:14px;
	
}

#levis-511-section .task-complete {
	
	color:#000;
	
}


#levis-511-section .task .thumb {
	
	float:left;
	width:30px;
	height:30px;
	background-color:black;
	
	
}

#levis-511-section .task .thumb img {
	
	display:block;
	margin:0px;
	padding:0px;
	border:1px solid #000;
}


#levis-511-section .task .body {
	
	border:2px solid #000;
	border-left:none;
	border-right:none;
	padding-top:4px;
	padding-bottom:4px;
	
}

#levis-511-section .task .info {
	
	float:left;
	margin-left:5px;
	
	
}


#levis-511-section .task .title {
	
	font-weight:bold;
	
	
}

#levis-511-section .task .details {
	
	font-style:italic;
	
}


#levis-511-section .task .options {
	
	clear:both;
	
}

#levis-511-section .task .checkbox {
	
	float:left;
	width:17px;
	height:26px;
	background-image:url(/theme/levis-511-contest/img/checkbox.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	
}

#levis-511-section .top {
	
	height:26px;
	padding-bottom:5px;
	
}

#levis-511-section .top .number {
	
	font-weight:bold;
	line-height:40px;
}
























