@CHARSET "UTF-8";

#for-the-record-section {


}

#for-the-record-section .record-plaq {

	margin-bottom:15px;

}

#for-the-record-section .record-plaq .plaq-top {

	background-image:url(/img/layout/for-the-record/ftr-bg-01.jpg);
	height:89px;
	
}

#for-the-record-section .record-plaq .plaq-heading {
	
	background-image:url(/img/layout/for-the-record/ftr-bg-02.jpg);
	
}

#for-the-record-section .record-plaq .plaq-heading .inner {

	width:95%;
	margin:auto;
	text-align:center;
	color:#9f8450;
	font-family:'Arial Narrow','Arial';
	font-size:32px;
	
}

#for-the-record-section .record-plaq .plaq-heading-bottom {
	
	background-image:url(/img/layout/for-the-record/ftr-bg-03.jpg);
	height:53px;
	
}

#for-the-record-section .record-plaq .plaq-body {

	background-image:url(/img/layout/for-the-record/ftr-bg-04-repeat.jpg);

	
}
#for-the-record-section .record-plaq .plaq-body .inner {


	padding:28px;
	
}

#for-the-record-section .record-plaq .plaq-bottom {

	background-image:url(/img/layout/for-the-record/ftr-bg-05.jpg);
	height:59px;

}

#for-the-record-section .record-plaq .badge {

	width:312px;
	height:124px;
	background-image:url(/img/layout/for-the-record/ftr-small-badge.png);
	background-repeat:no-repeat;
	float:left;
	font-family:'Arial Narrow','Arial';
	font-size:26px;
	color:#9f8450;
	position:relative;
	
}
#for-the-record-section .record-plaq .badge a {

	text-decoration:none;
	color:inherit;	
	
}

#for-the-record-section .record-plaq .badge:nth-child(even) {

	float:right;
	
}

#for-the-record-section .record-plaq .badge .name {
	
	text-align:center;
	height:30px;
	line-height:30px;
	margin-top:15px;
}

#for-the-record-section .record-plaq .badge .result-label {
	
	text-align:center;
	height:30px;
	line-height:30px;
}

#for-the-record-section .record-plaq .badge .date {
	
	text-align:center;
	height:30px;
	line-height:30px;
}
