
#chima {

display:none;

}

#chima .post .post-top,
#chima .post .post-footer,
#chima .post-media-div img {

display:none;

}

#chima .post-media-div,
#chima .post-media-div object {

min-height:400px;

}

#chima .post {

border:none;


}


/* Large desktop */
@media (min-width: 1200px) { 


	body {

		background-image:url(/theme/chima-shoe/img/bg.jpg);
		background-size:cover;


	}

	#chima {

display:block;

	}




 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


	body {

		background-image:url(/theme/chima-shoe/img/bg.jpg);
		background-size:cover;


	}

	#chima {

display:block;

	}


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }