@CHARSET "UTF-8";

body {
	background-image: url(/img/layout/newsv2/bg.jpg);
}

.enter-the-berrics {

	text-align:center;
	padding:0px;	
}

#page-container {
	
	padding-top:200px;	
	
}

.enter-the-berrics a {

	font-size:28px;
	color:#000;	
	font-weight:bold;
	
}
#top-banner-container img {

	display:block;	
	margin:auto;
}
#top-banner-container {
	height: 153px;
	background-image: url(/img/layout/newsv2/bg.jpg);
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	text-align:center;
}

#top-banner-container .bottom {
	text-align: center;
	background-image: url(/img/layout/newsv2/header-bottom-bg.png);
	height: 35px;

}
#top-banner-container .bottom .inner {
	position:relative;
	width:1000px;
	margin:auto;
	
}
#top-banner-container .bottom .issue-date {

	position:absolute;
	top:4px;	
	color:black;
	font-size:12px;
	left:550px;
	font-family:'Arial';
	
}

#news-section {
	
	color:#000;
	
}

#news-section .wrapper {
	
}

#news-section .news-col {
	
}

#news-section .left-columns {
	width: 699px;
	float: left;
}

#news-section .right-columns {
	width: 350px;
	float: left;
}

#news-section .featured {

	clear: both;
	border-bottom:1px solid #000;
	margin-bottom:5px;
	
}

#news-section .featured .news-bit {

	border:none;	
	
}

#news-section .cols-wrapper {

	background-image:url(/img/layout/newsv2/home-lines-bg.png);	
	
}

#news-section .col1 {
	
	float: left;
	width: 33.1%;

}

#news-section .col2 {
	
	float: left;
	width: 33.2%;

	
}

#news-section .col2 .news-bit .text-content {

	width:98%;	
	margin:auto;
}

#news-section .col3 {
	
	float:left;
	width:33.1%;
	margin-left:4px;
}

#news-section .news-bit:last-child {

	border:none;	
	
}

#news-section .news-bit h4 {
	
	font-size:16px;	
	font-style:italic;
	font-weight:normal;
	
	margin-top:-5px;
}

#news-section .news-bit {
	
	border-bottom:1px solid #000;	
	margin-bottom:5px;
	margin-right:4px;
	margin-left:4px;
	
}
#news-section .news-bit .title {
	
	padding-bottom:5px;	
	
}
#news-section .news-bit .title h3 {

	font-style:italic;
	color:black;
	font-size:20px;
	font-weight:bold;
	
}
#news-section .news-bit .title h3 a {

	text-decoration:none;
	color:inherit;	
	
}


#news-section .news-bit .text-content {
	
	font-size:14px;	
	text-align:justify;
	padding-bottom:5px;
}

#news-section .news-bit .text-content .media-text {

	
	
}

#news-section .news-bit .media-item {
	
	
}
#news-section .news-bit .text-content .media-thumb {
	
	
}
#news-section .news-bit .article-link {

	text-align:right;
	font-size:14px;
	
}
#news-section .news-bit .article-link a {

	color:inherit;
	font-weight:bold;
}
#news-section .news-bit .icons {

	padding:5px;
	text-align:right;	
	
}

.featured-news .unified {
	
	width:49.5%;
	float:left;
	
}

.featured-news .events {
	
	width:49.5%;
	float:right;
	
}

.featured-news .inner {

	border:1px solid #000;
	border-top:none;
	height:265px;
	overflow:auto;
}


.unified-bit {

	font-size:12px;		
	margin-bottom:3px;
	margin-top:3px;
}

.unified-bit .title {

	font-weight:bold;
	font-size:13px;	
	
}

.unified-bit .logo {
	
	float:left;
	width:65px;
	height:65px;
	text-align:center;
	
}


.unified-bit .info {
	
	float:left;
	width:230px;
	
}


.unified-bit .more-info {

	text-align:right;	
	
}
.unified-bit .more-info a {

	color:inherit;	
	font-weight:bold;
	font-style:italic;
}


.unified-bit-home {

	font-size:12px;		
	margin-bottom:3px;
	margin-top:3px;
}

.unified-bit-home .title {

	font-weight:bold;
	font-size:13px;	
	
}

.unified-bit-home .logo {
	
	float:left;
	width:105px;
	height:70px;
	text-align:center;
	
}


.unified-bit-home .info {
	
	float:right;
	width:380px;
	margin-right:11px;
}


.unified-bit-home .more-info {

	text-align:right;	
	
}
.unified-bit-home .more-info a {

	color:inherit;	
	font-weight:bold;
	font-style:italic;
}



#news-article {
	
	width:715px;
	float:left;
	color:#000;	
	
}

#news-article a {

	color:inherit;	
	
}

#news-article .publish-date {

		
	
}

#news-article .video-file {

	width:700px;
	margin:auto;
	position:relative;
}

#news-article .video-file .dailyop_media_item .play-button {
				position:absolute;
				z-index:996;
				top:168px;
				left:290px;
				width:120px;
				height:75px;
				background-image:url(/img/layout/dops/play-button.png);
	
}


#news-article .video-file .dailyop_media_item .overlay {
	
				position:absolute;
				z-index:995;
				background-color:#000000;
				height:400px;
				width:700px;
				top:0px;
				left:0px;
				bottom:0px;	
				display:none;
}

#news-article .links {

	color:black;
	font-size:11px;
	text-align:right;
	margin-top:25px;
}

#news-article .links a {

	color:inherit;	
	
}

#news-article .publish-date {

	font-size:12px;
	text-indent:5px;	
	
}


 #news-article .dailyop-text-item {


	margin:auto;	
	color:black;
	margin-top:10px;
}

#news-article .dailyop-text-item h2 {

	color:black;	
	
}

#news-article .dailyop-text-item .text-item {

	color:black;
	font-family:'Times New Roman';
	font-size:16px;
	line-height:22px;
	/*text-indent:30px;*/
	text-align:justify;
	
}

#news-article .dailyop-text-item .media-item {

	margin:5px;
	
}

#summary-col {

	width:320px;
	float:right;
	min-height:500px;
	color:#000;
}
#summary-col .heading {

	background-color:black;	
	text-align:center;
	
}

#summary-col .scroller {

	border:1px solid #000;
	border-top:none;
	height:300px;
	overflow:auto;	
	
}



.events-bit {

	font-size:12px;		
	margin:5px;
}

.events-bit .title {

	font-weight:bold;
	font-size:13px;	
	
}

.events-bit .logo {
	
	float:left;
	width:65px;
	height:65px;
	text-align:center;
	
}


.events-bit .info {

	
}


.events-bit .more-info {

	text-align:right;	
	
}
.events-bit .more-info a {

	color:inherit;	
	font-weight:bold;
	font-style:italic;
}




.events-bit-home {

	font-size:12px;		
	margin:5px;
	
}

.events-bit-home .title {

	font-weight:bold;
	font-size:13px;	
	
}

.events-bit-home .logo {
	
	float:left;
	width:65px;
	height:65px;
	text-align:center;
	
}


.events-bit-home .info {

	
}


.events-bit-home .more-info {

	text-align:right;	
	
}
.events-bit-home .more-info a {

	color:inherit;	
	font-weight:bold;
	font-style:italic;
}
