#evan-smith-experience {



}
#evan-smith-experience .evan-smith {

	background-image:url(/theme/evan-smith-experience/img/evan-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	

}