body {

	background-image:none;
	background-color:#fff;`


}

#one-column-body {

	margin-top:0;

}

#pain-is-beauty {

	max-width:915px;
	margin:auto;
	padding-bottom:80px;
}



#pain-is-beauty .post-view .post-media-div {

	padding:5px;
	border:2px dotted #000;

}

#pain-is-beauty .post-view .post {

	max-width:728px;
	margin:auto;
	border:none;

}

#pain-is-beauty .post-view .post-top .date,
#pain-is-beauty .post-view .post-top .time {

	display:none;

}

#pain-is-beauty .chapters {



}


#pain-is-beauty .chapter-thumb img {

	margin:auto;

}

#pain-is-beauty .chapter-thumb {

	float:left;
	width:33%;
	margin-left:.5%;
	text-align: center;
}

#pain-is-beauty .chapter-thumb:nth-child(3n+3) {

	float:right;
	margin:0;

}

#pain-is-beauty .load-more {

	text-align: center;

}
#pain-is-beauty .berrics-logo {

	text-align: center;

}


/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	#pain-is-beauty .chapter-thumb,
	#pain-is-beauty .chapter-thumb:nth-child(3n+3) {

		float:none;
		width:100%;

	}

 }
