@CHARSET "UTF-8";

body {

	
	background-image:url(/theme/battle-commander-huston/img/nyjah-bc-bg.jpg);
	background-repeat:no-repeat;
	background-position:right 80px;
	background-attachment:fixed;
	

}

#left-col  {

	min-height:1800px;

}

#right-col {

	

}