body {
	background-image: url('http://s265767729.onlinehome.us/img/bg.jpg');
	background-repeat:repeat-y;
	background-color: #000000;	
	margin: 0px;
	font-family: Times New Roman, Times, Serif;
	font-size: 80%;
	color: #fff;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
}

#nav ul {
	margin: 0px;
	padding: 0px;
}

#nav li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav li img {
	display: block;
	margin: 0px;
	padding: 0px;
}

#header {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 2;
	background-color: #000;
	margin: 0px 0px 35px 0px;
	height: 145px;
}

#header img {
	position: absolute;
	top: 8px;
	left: 220px;
}

#content {
	position: relative;
	left: 140px;
	width: 625px;
}

#contenttop {
	height: 28px;
	background-image: url('img/detail-top.jpg');
	background-repeat: no-repeat;
}

#contenttop h2 {
	font-size: 21px;
	margin: 0px 0px 0px 20px;
	padding: 7px 0px 0px 0px;
	line-height: 21px;
}

#contentmid {
	background-image: url('img/detail-mid.jpg');
	background-repeat: repeat-y;
}

#shopcontent {
	padding: 10px 0px 0px 17px;
}

#contentmid p {
	width: 550px;
	margin: 0px 0px 0px 30px;
	padding: 0px;
	font-size: 130%;
	line-height: 20px;
	
}

.conimg {
	padding: 15px 0px 0px 17px;
}

#contentmid h2 {
	margin: 0px 0px 0px 20px;
	font-size: 150%;
}

#contentmid ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#contentmid li {
	position: relative;
	list-style: none;
	margin: 0 0 0 60px;
	padding: 3px 3px 0 0;
	font-size: 120%;
	line-height: 17px;
}

#contentmid a:link {
	text-align: left;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

#contentmid a:visited {
	text-align: left;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

#contentmid a:hover {
	text-align: left;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

#contentmid a:active {
	text-align: left;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

li.head {
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	margin: 12px 0px 4px 0px;
}

#contentbot {
	height: 82px;
	background-image: url('img/detail-bot.jpg');
	background-repeat: no-repeat;
}

#rightbar {
	position: absolute;
	left: 775px;
	top: 179px;
	width: 338px;
}

#righttop {
	height: 14px;
	width: 330px;
	background-image: url('img/rght-top.jpg');
	background-repeat: no-repeat;
}

#rightmid {
	position: relative;
	top: -15px;
	width: 330px;
	background-image: url('img/rght-mid.jpg');
	background-repeat: repeat-y;
}

#rightmid h2 {
	line-height: 110%;
	position: relative;
	font-size: 110%;
	margin: 15px 0 0 20px;
}

#rightmid h3 {
	line-height: 110%;
	position: relative;
	font-size: 110%;
	margin: 10px 0 0 20px;
}

#rightmid ul {
	margin: 0;
	padding: 0;
}

#rightmid li {
	position: relative;
	list-style: none;
	margin: 0 0 0 30px;
	padding: 0;
	font-size: 120%;
	line-height: 17px;
	display: block;
}

#rightmid a:link {
	text-align: left;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

#rightmid a:visited {
	text-align: left;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

#rightmid a:hover {
	text-align: left;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

#rightmid a:active {
	text-align: left;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

#socialnets {
	position: relative;
	margin: 8px 0 0 30px;
}

#googmap {
	position: relative;
	left: -14px;
	margin: 10px 0 0 0;
	text-align: right;
}

.googtxt {
	padding-right: 5px;
}

#brands {
	position: relative;
	margin: 10px 0 0 20px;
	padding: 0;
}


#brands h2 {
	font-size: 140%;
	margin: 0 0 0 3px;
	padding: 0;
}

#brands img {
	padding: 2px 2px 2px 2px;
	height: 50px;
	width: 50px;
}

#employees {
	position: relative;
	display: block;
	margin: 5px 0 0 20px;
	padding: 0;
	width: 305px;
}

#employees h2 {
	font-size: 140%;
	margin: 0 0 0 3px;
	padding: 0;
}

#empa {
	position: relative;
	width: 125px;
	margin-top: 5px;
}

#empa img {
	padding-top: 5px;
}

#empb {
	position: absolute;
	left: 155px;
	top: 25px;
	width: 125px;
}

#empb img {
	padding-top: 5px;
}






#rightbot {
	position: relative;
	height: 48px;
	width: 330px;
	top: 48px;
	background-image: url('img/rght-bot.jpg');
	background-repeat: repeat-y;
}



#headdiv {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 2;
	background-color: #000000;
	margin: 0px 0px 15px 0px;
	height: 160px;	
}

#flashmap {
	position: relative;
	left: 170px;
	width: 870px;
	height: 450px;
}
#sotw {
	position: relative;
	left: 170px;
	width: 870px;
	height: 90px;
}
#sotwa {
	position: relative;
	left: 170px;
	width: 870px;
	height: 90px;
}
#sotwb {
	position: relative;
	left: 170px;
	width: 870px;
	height: 90px;
}
#sotwc {
	position: relative;
	left: 170px;
	width: 870px;
	height: 90px;
}



#detailtop {
	position: relative;
	left: 140px;
	width: 625px;
	height: 28px;
	background-image: url('img/detail-top.jpg');
	background-repeat: no-repeat; 
}

#detailmid {
	position: relative;
	left: 140px;
	width: 625px;
	height: 840px;
	background-image: url('img/detail-mid.jpg');
	background-repeat: no-repeat; 
	text-align: center;
}


#detailbot {
	position: relative;
	left: 140px;
	width: 625px;
	height: 82;
	background-image: url('img/detail-bot.jpg');
	background-repeat: no-repeat; 
}

img {
	border-style: none;
}

h2 {
	font-size: 19px;
	font-weight: normal;
	color: #fff;
	letter-spacing: .1em;
	line-height: 32px;
	margin: 15px 0px 0px 24px;
	text-align: left;
}

h3 {
	font-size: 19px;
	font-weight: normal;
	color: #fff;
	letter-spacing: .1em;
	line-height: 28px;
	margin: 5px 0px 0px 24px;
	text-align: left;
}

h4 {
	font-size: 15px;
	font-weight: normal;
	color: #fff;
	line-height: 18px;
	margin: -15px 50px 0px 28px;
	text-align: left;
}

h5 {
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
}

h5 a:link {
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

h5 a:visited {
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
}

h5 a:hover {
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

h5 a:active {
	text-align: left;
	font-size: 13px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

h6 {
	text-align: right;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
}

h1 {
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	color: #fff;
}




#leftside {
	position: absolute;
	left: 16px;
	top: 240px;
	width: 150px;
}

.lefttext {
	font-size: 14px;
	line-height: 19px;
	color: #fff;
	font-weight: normal;
	margin: 0px 0px 6px 0px;
}
.lefttext a:link {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.lefttext a:visited {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.lefttext a:hover {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	background-color: #000000;
}
.lefttext a:active {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	background-color: #000000;
}

#search {
	position: absolute;
	left: 150px;
	margin: 25px 5px 5px 5px;
}

#bar {
	position: relative;
	left: 275px;
}

#srchtop {
	position: relative;
	top: 60px;
	left: 135px;
	width: 933px;
	height: 39px;
	background-image: url('img/src-top.jpg');
	background-repeat: no-repeat; 
}

#srchmid {
	position: relative;
	top: 53px;
	left: 135px;
	width: 933px;
	background-image: url('img/src-mid.jpg');
	background-repeat: repeat-y; 
}

.results {
	position: relative;
	height: 100px;
	width: 900px;
}

.resultstxt {
	position: absolute;
	color: #fff;
	left: 125px;
	font-size: 14;
	font-weight: normal;
	width: 655px;
}

.shopname {
	font-size: 18;
}

.srclogo {
	position: absolute;
	left: 25px;
	padding-top: 5px;
}

.moreinfo {
	position: absolute;
	text-align: right;
	color: #fff;
	font-size: 14;
	top: 66px;
	left: 820px;
}

.moreinfo a:link {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

.moreinfo a:visited {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;	
	color: #fff;
}

.moreinfo a:hover {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

.moreinfo a:active {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

.pagenav {
	color: #fff;
	font-size: 14;
	text-align: right;
	margin-right: 35px;
}

.pagenav a:link {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}

.pagenav a:visited {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
}

.pagenav a:hover {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

#iframe {
	height: 50px;
}

#size {
	width: 100%;
	height: 100%;
}

.pagenav a:active {
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

#srchbotm {
	position: relative;
	left: 135px;
	top: 53px;
	width: 933px;
	height: 48px;
	background-image: url('img/src-bot.jpg');
	background-repeat: no-repeat; 
}

#srchresults {
	position: relative;
	height: 100%;
	padding-bottom: 20px;
}

hr {
  border: 0;
  height: 1px;
  width: 875px;
  background-color: #fff;
  color: #fff;
}

#formtop {
	position: relative;
	top: 20px;
	left: 160px;
	width: 933px;
	height: 39px;
	background-image: url('http://s265767729.onlinehome.us/img/src-top.gif');
	background-repeat: no-repeat; 
}

#formtop h3 {
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	letter-spacing: .1em;
	line-height: 28px;
	margin: 5px 0px 0px 85px;
	padding-top: 6px;
	text-align: left;
}

#formmid {
	position: relative;
	top: 15px;
	left: 160px;
	width: 933px;
	background-image: url('http://s265767729.onlinehome.us/img/src-mid.gif');
	background-repeat: repeat-y; 
}

#formbotm {
	position: relative;
	left: 160px;
	top: 0px;
	width: 933px;
	height: 48px;
	background-image: url('http://s265767729.onlinehome.us/img/src-bot.gif');
	background-repeat: no-repeat; 
}

#formWrap {
	width: 755px; 
	color: #ffffff; 
	margin: -15px auto; 
	padding:0 0 15px 0; 
	height: 800px;
}

.planBox {
	position: absolute; 
	left: 10px; top:65px; 
	background-color: #000000; 
	width: 755px;
}

.rateboxhead {
	background-color: #7d403d;
}

.rateboxcontent {
	font-size: 64%; 
	border-width: 0 1px 1px 0; 
	border-style: solid;
	text-align: left; 
	padding: 0px;
}

.rateboxcontenta {
	font-size: 64%; 
	border-width: 0 1px 1px 1px; 
	border-style: solid;
	text-align: left;
	padding: 0px;
}

.rateboxtxt {
	height: 190px;
}
.planselector {
	text-align: center;
}

.planselector input {
	padding-top: 5px;
}

.planselector select {
	margin-top: 5px;
}

.rateboxa {
	position:absolute; 
	left: 0px; 
	font-size: 150%; 
	text-align: center; 
	width:152px;
}

.rateboxb {
	position:absolute; 
	left: 152px; 
	font-size: 150%; 
	text-align: center; 
	width:152px;
}

.rateboxc {
	position:absolute; 
	left: 304px; 
	font-size: 150%; 
	text-align: center; 
	width:152px;
}

.rateboxd {
	position:absolute; 
	left: 456px; 
	font-size: 150%; 
	text-align: center; 
	width:152px;
}

.rateboxe {
	position:absolute; 
	left: 608px; 
	font-size: 150%; 
	text-align: center; 
	width:152px;
}

.rateboxf {
	position:absolute; 
	left: 760px; 
	font-size: 150%; 
	text-align: center; 
	width:152px;
}

#regionmap {
	position: absolute;
	top: 325px;
	left: 15px;
}

.summarytxt {
	color: #999999;
	padding-left: 10px;
}

.error_strings {
	color: #FF0000;
}


.tblwraps {
	background-color: #ffffff;
}

.radioForm {
	position: relative; 
	left: 85px; 
	margin: 5px 0 15px 0; 
	font-size: 120%; 
	background-color:#ffffff; 
	width:760px;
}

.radio {
	padding:0 0 2px 2px;
}

.formStyle {
	color:#ffffff; 
	text-align:center; 
}

.formStyle td {
	font-size:80%;
}

.formStyle .bord {
	border: solid #000000; 
	border-width: 0 1px 1px 0;
}

.disabled {
	background-color:#666666; 
}

.duration {
	background-color:#cdcdb5; 
	color:#ffffff; 
	border-width:0 0 2px 0;
	text-align:right;
	padding:3px 4px 3px 4px; 
	font-size:90%;
}

.opposinga{
	padding:5px 5px 5px 5px; 
	background-color:#3e1d1d; 
	font-size:140%;width:90px;
}

.opposingb{
	padding:5px 5px 5px 5px; 
	background-color:#000000; 
	font-size:140%;width:90px
}

.confirmBody {
	position:relative; 
	margin: 0 0 15px 0; 
	background-color: #000000; 
	width:760px; 
	left:85px; 
	top: -15px;
	color: #ffffff; 
	font-size: 13px; 
	font-weight: normal; 
	font-family: arial, Helvetica,sans-serif;
}

.headliners{
	padding:5px 5px 5px 5px; 
	background-color:#7d403d; 
	font-size:120%;width:90px; 
	color:#ffffff;
}

.confirminput {
	padding-left:10px;
}

.confirmBody a:link {
	text-align: left;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

.confirmBody a:visited {
	text-align: left;
	font-weight: normal;
	color: #999999;
}

.confirmBody a:hover {
	text-align: left;
	font-weight: normal;
	color: #666666;
}

.confirmBody a:active {
	text-align: left;
	font-weight: normal;
	color: #666666;
}

a:link {
	text-align: left;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}

a:visited {
	text-align: left;
	font-weight: normal;
	color: #999999;
}

a:hover {
	text-align: left;
	font-weight: normal;
	color: #666666;
}

a:active {
	text-align: left;
	font-weight: normal;
	color: #666666;
}

.notes {
	padding: 0 135px 15px 135px;
}


/****** CANADA PLAN SELECTION ITEMS ******/












/************** END CANADA **************/




