@CHARSET "UTF-8";

.berrics-html-video-div {

	position:relative;

}

.berrics-html-video-div .video {

	z-index:800;	
	
}

.berrics-html-video-div .click-element {
	
	z-index:1000;
	position:absolute;
	display:none;
	width:100%;
	height:100%;
	cursor:pointer;
	top:0px;
	left:0px;
	
	
}
.berrics-html-video-div .pause-overlay {
	
	z-index:1100;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:pink;
	cursor:pointer;
	
}

.berrics-html-video-div .controls {

	z-index:900;
	height:35px;
	bottom:0px;
	left:0px;
	width:100%;
	background-color:#333;
	position:absolute;	
	display:none;
	
}

.berrics-html-video-div .controls .inner {

	position:relative;	
	height:inherit;
	
}

.berrics-html-video-div .controls .button {
	
	
}

.berrics-html-video-div .controls .button-hover {
	
	background-color:transparent;
	
}

.berrics-html-video-div .controls .playpause-button {
	
	position:absolute;
	top:0px;
	left:0px;
	width:35px;
	height:35px;
	background-color:transparent;
	border:none;
	
}

.berrics-html-video-div .controls .button-state-play {
	
	background-color:green;
	
}



.berrics-html-video-div .controls .button-state-pause {
	
	background-color:#ccc;
	
}

.berrics-html-video-div .controls .duration {

	position:absolute;
	top:10px;
	left:37px;
	background-color:transparent;
	font-size:11px;
	color:#fff;
	border:none;
		
}

.berrics-html-video-div .controls .fullscreen-button {

	position:absolute;
	top:0px;
	right:0px;
	width:35px;
	height:35px;
	background-color:red;
	border:none;
	
}

.berrics-html-video-div .controls .button-state-fullscreen-active {
	
}

.berrics-html-video-div .controls .button-state-fullscreen-notactive {
	
}





