@CHARSET "UTF-8";
* { padding:0px; margin:0px; }
body {

    background-color:black;
    background-image:url(/img/layout/body-bg.jpg);
    font-family:'Times New Roman';
	height:100%;
}

#main-container {

    

}

#page-container {
    
    width:1050px;
    margin:auto;    
    padding-top:170px;
}


/*
TOP BANNER
*/
#top-banner-container {

    height:100px;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:1500;
    background-color:black;
}

#top-banner-container .bottom-edge {

    background-image:url(/img/layout/top-edge.png);
    background-repeat:repeat-x;
    background-position:center bottom;
    float:left;
    height:15px;    
    width:100%;
    margin-top:100px;
}


#top-banner-container .inner {

    position:relative;  
    width:1050px;
    margin:auto;
}


#top-banner {

    
    position:absolute;
    top:5px;
    left:0px;   
    
}
#top-widget {

	position:absolute;
	width:318px;
	height:95px;	
	right:0px;
	top:5px;
	
}
#yn3-top-top-banner {

	height:90px;	
	background-image:url(/theme/younited-nations-3/img/yn3-top-banner.jpg);
	position:relative;
	background-position:center center;
	background-repeat:no-repeat;
	cursor:pointer;
}
#yn3-top-top-banner .days {

	position:absolute;
	top:59px;
	left:20px;
	color:black;
	font-family:'Arial';
	font-weight:bold;
	font-size:24px;	
	
	
}

/**
HEADER NAVIATION BAR
*/

#header-container {

    margin-bottom:40px; 
    
}


#header {
    
    width:100%;
    margin:auto;
    height:78px;
    position:relative;
    z-index:999;
}

/*

TOP NAV

*/

#header #top-nav {

    position:absolute;  
    z-index:1001;
    height:78px;
    width:957px;
    top:-10px;
    left:50px;
    background-image:url(/img/layout/top-nav-bg.png);
}

#header #top-nav .inner {

    position:relative;  
    
}

#header #top-nav .inner .top-nav-list {

    list-style:none;    
    margin-left:65px;
    font-family:'Times New Roman';
    font-size:95%;
    margin-top:7px;
}

#header #top-nav .inner ul .nav-button {

    float:left; 
    margin-right:5px;
    margin-left:5px;
    padding-left:14px;
    padding-right:14px;
    height:57px;
    line-height:72px;
    text-align:center;
    font-weight:thin;
    color:#666666;
    position:relative;
    cursor:pointer;
}

#header #top-nav .inner ul .nav-spacer {

    height:57px;
    float:left;
    background-image:url(/img/layout/top-nav/nav-spacer.png);
    background-repeat:no-repeat;
    background-position:center center;
    width:8px;
}

#header .right-cap {
    
    
    
    background-image:url(/img/layout/top-nav-right.png);
    height:78px;
    width:44px; 
    position:absolute;
    top:-10px;
    right:0px;
}

#header #top-nav .inner ul .sublist {

    position:absolute;
    top:56px;
    left:-15px;

    display:none;
}

#featured-sublist {

        width:654px;
        background-color:transparent;
        background-image:url(/img/layout/featured-bg.jpg);
        background-position:0px 9px;
        height:450px;
        background-repeat:no-repeat;
        z-index:1000;
        
}
#featured-sublist ul {

    list-style:none;    
    margin:5px;
    float:left;
    width:180px;
    margin-top:25px;
    margin-left:35px;
}

#featured-sublist ul .featured-over {

    color:#000; 
    background-color:transparent;
}

#featured-sublist ul .featured-over a {

    color:#000; 
    
}

#featured-sublist ul:nth-child(1) {
    
    margin-left:15px;   
    
}

#featured-sublist ul li {
    
    height:40px;
    line-height:20px;
    vertical-align:bottom;
    text-align:right;
    width:auto;
    margin-bottom:5px;
    font-size:18px;
    border-bottom:2px dotted #666;
    cursor:pointer;
}

#featured-sublist ul li a {

    color:#666;
    text-decoration:none;   

}

#featured-sublist ul li img {
    
    float:left;
    padding-right:1px;
    padding-top:5px;
}
#featured-sublist .view-all {   
    
    height:22px;
    text-align:center;
    clear:both;
    padding:0px;
    margin:0px;
    margin-top:-20px;
    line-height:15px;
}

#featured-sublist .view-all a {

    text-decoration:none;   
    height:auto;
    width:auto;
    display:block;
    line-height:15px;
    color:#555;
    font-family:Gothic;
    cursor:pointer;
}
#featured-sublist .view-all a:hover {

    text-decoration:underline;  
    
}


#header #top-nav .inner ul .over {

    background-color:#000;  
    
}

#header #top-nav .inner ul .nav-spacer img {

    
    
}

#header .search-box {

    margin-top:19px;
    margin-right:-20px;
    float:right;
    text-align:right;

}

#header .search-box .search-form {

    
    
}

#header .search-box .search-submit {

    background-image:url(/img/layout/search-button.png);
    background-repeat:no-repeat;
    border:none;
    background-color:transparent;
    width:81px;
    height:17px;    
    
}

#header .search-box .login-bit {

    font-size:70%;  
    height:25px;
    line-height:25px;
}

#header .search-box .search-form #SearchTag {
    
    margin-right:10px;
    background-color:#222222;
    border:1px solid #333333;
    color:#e9e9e9;
    width:160px;
}


#header #main-icon {
    
    position:absolute;
    z-index:1002;
    top:-35px;
    left:0px;
}

#header .todays-date {
    
    position:absolute;
    top:80px;
    left:13px;
    font-family:times;
    color:#e2d9c5;  
    
}

#footer {
    margin-top:25px;
    min-height:150px;   
    border-top:1px solid #333333;
    background-repeat:no-repeat;
    
}



#footer .links {
    

    font-size:13px;
    color:#666; 
    padding-top:5px;
    
}

#footer .links a{
    text-decoration:none;
    color:inherit;
}

#footer .links a:hover{
    color:#fff;
}


/**
BODY CONTAINERS
*/

#left-col {
    
    width:728px;
    float:left;
    min-height:50px;
    
}

#right-col {

    width:300px;
    float:right;
    position:relative;
    margin-right:0px;
    min-height:30px;
}

#body-content {
    

}

/*


LEFT COL HTML OVERRIDES
*/

#left-col hr {
    
    border:none;
    height:1px;
    background-color:#444;
    
}

#left-col h1, 
#left-col h2, 
#left-col h3,
#left-col h4 {
    
    color:#666; 
    font-weight:normal;
}



#right-col .container {

    position:absolute;
            
    
}

#right-col-social-buttons {

    background-image:url(/img/layout/right-col-social-bg.png);
    height:101px;
    width:300px;
    margin-top:8px;
    margin-bottom:8px; 
    
}
#right-col-social-buttons a {
	
    display: block;
	width: 61px;
	height: 72px;
	text-decoration: none; 
	margin-top:7px;
	margin-right:20px; 
	float:left;
	 
}
#right-col-social-buttons a:hover{
	
	background-position: -60px 0;
	
}
#right-col-social-buttons .inner .twitter{
	
	background-image:url(/img/layout/right-col-twitter-rollover.jpg);
	
}
#right-col-social-buttons .facebook{
	
	background-image:url(/img/layout/right-col-facebook-rollover.jpg);
	
}
#right-col-social-buttons .contact{
	
	background-image:url(/img/layout/right-col-contact-rollover.jpg);
	
}

#right-col-social-buttons .inner {

    padding:5px;    
    padding-top:2px;
    padding-left:35px;
}


#right-col .banner-250x250 {

    width:250px;
    height:250px;
    background-color:white;
    margin-bottom:15px;
    
}

.content-div {

    background-color:black;
    border:1px solid #666666;
    padding:5px;    
    
}



/*

    LOGIN BOX

*/

#login-box {

    width:100%;
    
    border:1px solid #666666;
    font-size:70%;
    background-color:black;
    
}
#login-box .login-bit {
    
    padding:10px;
    
}

#login-box .profile-bit {

    padding:10px;   
    
}

/*

    SEARCH BOX

*/


/*
DAILY OPS
*/
#dailyops #paging-menu {

    font-size:80%;  
    
}
#dailyops #paging-menu span {

    display:none;   
    
}
#dailyops #paging-menu .left {

    float:left;
        
}

#dailyops #paging-menu .left a {

    float:left;
    height:47px;
    width:147px;
    background-image:url(/img/layout/newer-button.png);
    display:block;
}

#dailyops #paging-menu .left a:hover {

    background-image:url(/img/layout/newer-button-over.png);
    
}

#dailyops #paging-menu .right {

    float:right; 
    
}
#dailyops #paging-menu .right a {

    float:right;    
    height:47px;
    width:146px;
    background-image:url(/img/layout/older-button.png);
    display:block;
}
#dailyops #paging-menu .right a:hover {
    
    background-image:url(/img/layout/older-button-over.png);
    
}



/*

    BANNER SIZES

*/

.banner-250x250 {
    
    height:250px;
    width:250px;
    background-color:#333333;
}


/*
    
    BANNER PLACEMENTS
    
*/

.banner-dops-footer-728x90 {

    width:728px;
    height:90px;
    background-color:white; 
    margin-bottom:15px;
}

.banner-top-banner-728x90 {
    
    width:728px;
    height:90px;
    background-color:white;
    
    
}

.banner-top-banner-624x90 {
    
    width:624px;
    height:90px;
    background-color:white;
}

.banner-dops-footer-624x90 {

    width:624px;
    height:90px;
    background-color:white; 
    margin-bottom:15px;
}

.banner-300x250 {

    width:300px;
    height:250px;
    background-color:white; 
    
}

.ui-autocomplete li {

    font-size:75%;  
    
}
.ui-autocomplete {
    
    background-image:none;  
    z-index:6001;
}

/*
    *****
    
*/

/*
    DAILYOPS POST BIT
    
*/

.section-date-heading {
	
	background-image:url(/img/layout/date-heading-bg.png);
	width:250px;
	height:41px;
	line-height:46px;
	text-indent:15px;
	color:#666;
	font-size:20px;
	letter-spacing:3px;
	
}

.d-post-bit {
    
    margin-bottom:25px;
    
}



.d-post-bit .container {
    
    background-image:url(/img/layout/dops/post-bit-center.png);
    position:static;
    margin-top:50px;
    
}


.d-post-bit .container-top {
    width:728px;
    background-image:url(/img/layout/dops/post-bit-top.png);
    background-repeat:no-repeat;
    margin-top:-50px;
    float:left;
}

.d-post-bit .container-top .title {
    
    margin-top:19px;
    padding-left:25px;
}

.d-post-bit .container-top .title h2 {

    font-weight:normal;
    font-size:20px;
    color:#666666;  
    margin:0px;
}
.d-post-bit .container-top .title h2 a {
    
    color:inherit;  
    text-decoration:none;
    
}

.d-post-bit .container-top .title .sub-title {

    font-weight:normal;
    font-style:italic;
    color:#999999;
    font-size:18px; 
    margin-top:0px;
    
}
.d-post-bit .container-top .display-media {
    
    width:700px;
    margin-left:17px;
    text-align:center;
    margin-top:10px;
}

.d-post-bit .container-top .dailyop_media_item {
    
    min-height:400px;   
    cursor:pointer;
    position:relative;
}

.d-post-bit .container-top .dailyop_media_item  img {
    

    -moz-box-shadow: inset 2px 2px 5px #000000;
    box-shadow: inset 2px 2px 15px #000000;
        
    
}

.d-post-bit .container-top .dailyop_media_item .play-button {
				position:absolute;
				z-index:996;
				top:168px;
				left:290px;
				width:120px;
				height:75px;
				background-image:url(/img/layout/dops/play-button.png);
	
}

.d-post-bit .container-top .dailyop_media_item .overlay {
	
				position:absolute;
				z-index:995;
				background-color:#000000;
				height:400px;
				width:700px;
				top:0px;
				left:0px;
				bottom:0px;	
				display:none;
}

.d-post-bit .bottom {

   /*background-image:url(/img/layout/dops/post-bit-bottom.png);*/
   background-image:url(/img/layout/dops/d-post-bit-bottom-fix.png);
   width:728px;
  background-position:center bottom;
  background-repeat:no-repeat;
  min-height:92px;
  
  
}

.d-post-bit .bottom .footer {

    width:680px;
    margin:auto;    
    padding-bottom:10px;
}


.d-post-bit .tags {

    font-size:60%;
    color:#454545;
    font-family:'Times New Roman';
    padding-top:3px;
    padding-bottom:2px;
}

.d-post-bit .tags a {
    
    color:#666666;  
    text-decoration:underline;
}

.d-post-bit .tags a:hover {
    

    color:#cccccc;  
    
}

.d-post-bit .tags .tag {

	
	
}

.d-post-bit .tags .tag img {

	vertical-align:bottom;
	margin-right:1px;
}


.d-post-bit .footer .socialize {
    
    float:left;
    margin-top:4px;
}
.d-post-bit .footer .socialize .twitter {
    
    float:left; 
    margin-right:3px;
}


.d-post-bit .footer .date-info {

    float:right;
    font-size:70%;
    color:#999999;
    
}
.d-post-bit .icon {
    
    float:right;
    padding:1px;    
    
}

.d-post-bit hr {
    border:none;
    margin-left:20px;
    margin-top:5px;
    background-color:#333;
    height:1px;
    width:95%;
}

.d-post-bit .text-content {
    
    width:687px;
    margin-left:24px;
    
}
.d-post-bit .text-content p {
    margin:0px;
    float:left;
    margin-top:-65px;
    margin-bottom:-10px;
    width:660px;
    margin-left:10px;   
    text-align:justify;
    color:black;
    text-indent:30px;
    font-size:15px;
}
.d-post-bit .text-content a {

    color:inherit;
        
}

.d-post-bit .text-content  ul {
	
	margin:0px;
	padding:0px;
	margin-left:20px;
	color:black;
}

.d-post-bit .text-content .top {
    
    height:81px;
    background-image:url(/img/layout/dops/post-text-top.png);
    
}

.d-post-bit .text-content .center {
    
    background-image:url(/img/layout/dops/post-text-bg.png);
    
}

.d-post-bit .text-content .bot {
    
    height:41px;
    background-image:url(/img/layout/dops/post-text-bottom.png);
    
}

.d-post-bit .dailyop_media_item {

	position:relative;	
	
	
}

.d-post-bit .dailyop_media_item .dailyops-slide-show-msg {

	position:absolute;
	width:60%;
	height:35px;
	padding:5px;
	background-color:red;
	text-align:center;
	color:white;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	z-index:2000;
	
}



/*
    
    POST THUMBS
    
*/

.post-thumb {

    position:relative;
    
}

.post-thumb .description {

    position:absolute;  
    top:-60px;
    background-color:#000;
    border:1px solid #111;
    display:none;
    -webkit-border-radius:12px;
    border-radius:12px;
    -moz-border-radius:12px;
    font-size:15px;
    width:100%;
    -webkit-box-shadow: 1px 1px 5px 1px #000;
    -moz-box-shadow: 1px 1px 5px 1px #000;
    box-shadow: 1px 1px 5px 1px #000;
        
}

.post-thumb .description .inner {

    padding:5px;    
    color:#666;
    
}

.post-thumb .description .sub-title {

    color:#999;
    font-size:80%;
    font-style:italic;
    
}


.post-thumb-large {

    height:268px;
    width:350px;
    background-image:url(/img/layout/post-thumb-large.png);
    cursor:pointer;
    position:relative;
    float:left;
    margin:5px;
}

.post-thumb-large-over { 
    
    display:none;
    background-image:url(/img/layout/large-thumb-over.png);
    background-repeat:no-repeat;
    height:182px;
    width:320px;
    position:absolute;
    top:0px;
    left:7px;
    
}

.post-thumb-large .inner {

    width:335px;
    margin-left:10px;

}
.post-thumb-large .inner .media {

    text-align:center;
    position:relative;
}
.post-thumb-large .inner hr {

    border:none;
    margin:5px; 
    background-color:#666;
}
.post-thumb-large .inner .title {

    font-size:14px;
    color:#666;
    margin-left:10px;
    height:30px;
    line-height:40px;
}
.post-thumb-large .inner .title a {

    color:inherit;
    text-decoration:none;   
    
}
.post-thumb-large .inner .sub-title {

    font-size:16px;
    color:#888;
    height:20px;
    line-height:20px;
    margin-left:10px;
    font-style:italic;
    
}

.post-thumb-large .inner .date {
    
    font-size:11px;
    text-align:right;   
    color:#888
}

.post-thumb-small {

    height:147px;
    width:173px;
    background-image:url(/img/layout/post-thumb-small.png); 
    float:left;
    margin-left:8px;
    margin-top:8px;
    cursor:pointer;
    
}


.post-thumb-small .inner {
    
    padding:5px;
    background-position:bottom right;   
    background-repeat:no-repeat;
    
}
.post-thumb-small .inner .date {
    
    color:#666;
    font-size:11px; 
    text-align:right;
    margin-top:4px;
    height:24px;
    line-height:30px;
}
.post-thumb-small .inner .date .icon {

    float:left; 
    
}
.post-thumb-small .inner .img {

    text-align:center;  
    margin-top:12px;
    position:relative;
}

.post-thumb-small-over {
    
    position:absolute;
    background-image:url(/img/layout/small-thumb-over.png);
    background-repeat:no-repeat;
    display:none;
    top:0px;
    left:4px;
    width:155px;
    height:88px;    
    
}

.post-thumb-small .inner .info {
    
    font-family:'Times New Roman';
    margin-top:2px;
    padding-top:2px;
    color:#999999;
    font-size:11px;
    line-height:12px;
    height:50px;
}


.post-thumb-med {
    
    background-image:url(/img/layout/med-thumb-bg.png);
    background-repeat:no-repeat;
    height:171px;
    width:231px;    
    float:left;
    margin-left:8px; 
    margin-bottom:8px;
    cursor:pointer;
    position:relative;
}


.post-thumb-med .inner {
    
    padding:8px;
    padding-top:16px;
}


.post-thumb-med .inner .img {
    
    text-align:center;
    position:relative;  
}

.post-thumb-med-over {
    
    position:absolute;
    display:none;
    background-image:url(/img/layout/med-thumb-over.png);   
    background-repeat:no-repeat;
    height:119px;
    width:210px;
    top:0px;
    left:2px;
}


.post-thumb-med .inner .info {
    
    font-size:12px;
    color:#666;
    text-align:right;
    
}




/*
    Dalyops
    */
    
#dailyops h1 {

    font-size:16px;
    letter-spacing:8px;
    color:#888; 
    font-weight:normal;
    
}

#dailyops .top-date-heading {

    text-align:center;
    margin-top:-40px;
    padding-bottom:20px;    
    
}
#dailyops .top-date-heading h1 .top-date {
	
	color:#691400;
	
}



/*
    
    category menu page
    
*/

#features {
    
    
}

#features .top {

    height:192px;   
    background-image:url(/img/layout/large-menu-top.jpg);
}


#features .center {
    
    background-image:url(/img/layout/large-menu-bg.jpg);
    
}

#features .center .content {

    width:685px;
    float:left;
    margin-left:15px;   
    margin-top:-170px;
    margin-bottom:-40px;
}

#features .center .content ul {

    list-style:none;
    margin:0px;
    padding:0px;    
    
}

#features .center .content li {

    
    color:#666;
    font-size:28px; 
    line-height:70px;
    height:70px;
    border-bottom:2px dotted #666;
    margin-bottom:5px;
    clear:both;
}

#features .center .content li .over {

    cursor:pointer;
    background-color:#ccc;  
    
}

#features .center .content li a {
    
    color:inherit;  
    text-decoration:none;
}

#features .center .content li .icon {

    float:left; 
    margin:5px;
    height:55px;
    width:55px; 
}

#features .bottom {
    
    height:70px;
    background-image:url(/img/layout/large-menu-bottom.jpg);
    
}

/*
    TAGS
    
*/

#tag h1 {

    color:#666; 
    
}

#tag hr {

    border:none;
    height:1px;
    background-color:#333;  
    
}


/*
    
    DAILYOPS SECTION VIEW
*/

#section-view .title {
    
    padding:8px;
    margin-bottom:10px;
    border:1px solid #333;
    border-top:none;
    border-left:none;
    border-right:none;
}


#section-view .month {
    
    clear:both; 
    margin-bottom:20px; 
}

#section-view h2 {

    font-family:'courier';  
    font-size:14px;
    letter-spacing:3px;
}
    
#section-year-menu {

    margin-bottom:8px;  
    
} 
    
    
#section-year-menu ul {

    list-style:none;
    margin:0px;
    padding:0px;    
    
}

#section-year-menu ul li {
    
    
    float:left; 
    margin-right:15px;
    background-image:url(/img/layout/year-menu-tab.png);
    height:41px;
    line-height:41px;
    width:132px;
    margin-right:8px;
    text-align:center;
    cursor:pointer;
    
}



#section-year-menu ul li a {
    
    font-style:italic;
    text-decoration:none;
    border:none;
    border-bottom:2px dotted #666;
    font-size:16px;
    color:#666;

}

#section-year-menu ul .selected a {

    color:white;
        
    
}

.dailyops-related {
    
    
    text-align:left;
    width:100%;
    background-color:black;
    border:1px solid #666;
    position:relative;
    
}

.dailyops-related .bg-underlay {
	
	position:absolute;
	z-index:500;
	top:0px;
	left:0px;
	background-repeat:repeat-y;
	background-position:top center;
}

.dailyops-related .inner {

    padding:10px;   
    z-index:501;
    position:relative;
}

.dailyops-related .top-title {
    
    color:#666;
    font-size:16px;
    font-style:italic;
    clear:both;
    padding:5px;
    border-bottom:1px solid #333;

}

.dailyops-related .top-title a {

    color:inherit;  
    
}

.dailyops-related .just-watched {

    line-height:36px;
    height:36px;    
    font-size:24px;
    color:#999;
}

.dailyops-related .just-watched span {
    
    font-size:20px;
    font-style:italic;  
    
}

.dailyops-related .just-watched .icon {

    float:left;
    padding:4px;

    font-size:16px;
    color:#999;
}
    
    

.dailyops-related .top-title .right {
    
    float:right;    
    font-style:normal;
    
}
.dailyops-related .just-watched-buttons {

    clear:both;
    height:35px;
    line-height:35px;   
    
}
.dailyops-related .replay-button {

    height:30px;
    width:90px;
    border:1px solid #666;
    float:right;
    line-height:30px;
    text-align:right;
    padding-right:8px;
    padding-left:8px;
    background-image:url(/img/layout/related-refresh-icon.png);
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color:#000;
    color:#666;
}

.dailyops-related .replay-button a {
    
    color:inherit;
    text-decoration:none;
    font-style:italic;
        
}

.dailyops-related .related {

    margin-top:15px;    
    
}

.dailyops-related .related .thumb {

    width:31%;
    float:left; 
    margin-left:2%;
    
}

.dailyops-related .related .thumb .img {
    
    text-align:center;  
    height:125px;
}
.dailyops-related .related .thumb .info {

    border-top:1px solid #333;
    margin-top:4px; 
    height:50px;
}
.dailyops-related .related .thumb .info .title {
    
    width:145px;
    float:left;
    font-size:12px;
    color:#666;
    
}

.dailyops-related .related .thumb .info .sub-title {

		
	font-size:11px;
	
}
.dailyops-related .related .thumb .info .icon {
    
    float:right;
    padding:3px;    

}
.dailyops-related .related .thumb .info .date {

    font-size:10px;
    clear:both;
    text-align:right;   
    color:#999;
}

/*

COMMANDER (BATCOM / UN / RECRUIT)   
    
*/
#battle-commander {
	
	
	
}

#battle-commander .d-post-bit {

	background-repeat:no-repeat;	
	margin-bottom:5px;
}

#battle-commander .d-post-bit .title,#battle-commander .d-post-bit .icon {

		display:none;
	
}

#battle-commander .d-post-bit .container-top,#battle-commander .d-post-bit .container,#battle-commander .d-post-bit .bottom {
	

	background-image:none;	
	
}

#battle-commander .d-post-bit .container {

	margin-top:0px;	
	
}

#battle-commander .d-post-bit .display-media {
	
	
	margin-top:130px;
	
	
}

#battle-commander .d-post-bit .bottom {
	
	padding-top:185px;
	margin-bottom:0px;
}

#battle-commander .d-post-bit hr {
	

	display:none;	
	
}

#battle-commander .d-post-bit .text-content {

	
	
}

#commander-thumb-menu .post-thumb-div {

    width:171px;
    float:left;
    margin:4px;
    margin-top:2px;
    margin-bottom:2px;
    position:relative;
}

#commander-thumb-menu .post-thumb-over {
    
    position:absolute;
    display:none;
    background-image:url(/img/layout/commander/command-thumb-over.png);
    background-repeat:no-repeat;
    background-position:top center;
    top:0px;
    left:6px;
    cursor:pointer;
    z-index:1006;
    height:182px;
    width:171px;
}

/*
    
    GALLERY VIEW
*/

#gallery-view {

    background-color:#000000;   
    -webkit-box-shadow: 0px 0px 8px #000000;
    -moz-box-shadow: 0px 0px 8px #000000;
    box-shadow: 0px 0px 8px #000000;
    background-image:url(/img/layout/dops/post-bit-bg.png);
}

#gallery-view .item-row {

    clear:both;

}

#gallery-view .item-row .item {

    float:left;
    width:182px;
    text-align:center;
    
    margin-bottom:5px;
    height:110px;
}

#gallery-view .item-row .item img {

    margin-top:5px; 
    margin-top:5px;
}

#gallery-view .item-row .selected {

    
    
}

#gallery-view .item-row .selected img {

    -webkit-box-shadow: 0px 0px 5px #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    
}

#gallery-view .image-view {

    text-align:center;
    min-height:250px;
    position:relative;
}



#gallery-view .image-view .arrow {

    display:none;
    position:absolute;

    
}

#gallery-view .image-view .arrow-left {
    
    width:48%;
    left:15px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-position:left center;
    z-index:300;
}
    
#gallery-view .image-view .arrow-right {
    
    right:15px;
   	width:200px;
    background-repeat:no-repeat;
    background-position:right center;
    cursor:pointer;
    z-index:301;
    border:1px solid red;
}

#gallery-view .image-view img {

    margin-top:10px;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 0px 5px #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    cursor:pointer; 
    
}

#gallery-view .next-prev .next {
    
    height:44px;
    width:143px;
    background-image:url(/img/layout/right-tab-button-bg.png);
    float:right;
    
}

#gallery-view .next-prev {

    padding:5px;
    
}

#gallery-view .next-prev div {

    text-align:center;
    height:44px;
    line-height:44px;
}

#gallery-view .next-prev div a {

    text-decoration:none;
    font-style:italic;  
    color:#444;
}

#gallery-view .next-prev .prev {
    
    float:left;
    height:44px;
    width:143px;
    background-image:url(/img/layout/left-tab-button-bg.png);
    
}


#gallery-view .info {

    margin:10px;
    
}

#gallery-view .info .next {
    
    font-size:70%;
    font-weight:bold;
    float:right;
    width:15%;
    text-align:center;
    border:1px solid #999999;
}

#gallery-view .info .prev {
    font-size:70%;
    font-weight:bold;
    float:left;
    width:15%;
    text-align:center;
    border:1px solid #999999;
}
#gallery-view .footer {

    padding:5px;    
    font-size:12px;
}

#gallery-view .footer .tags {

    font-style:11px;    
    color:#666;
    width:95%;
    margin:auto;
    text-align:left;
    display:none;
    
}
#gallery-view .footer .tags a {

    color:inherit;  
    
}
#gallery-view .footer .tags .icon {

    display:none;
    
}
#gallery-view .footer .socialize {

    float:left;
    
    
}

#gallery-view .footer .socialize .twitter {

    float:left;
    margin-right:3px;
        
}

#gallery-view .footer .date-info {

    text-align:right;   
    float:right;
}

#login-buttons #berrics-email {
	
	display:none;	
	
}

/*
	
	TAG INDEX

*/

#tag-index { 


	

}

#tag-index a,#tag-index a:visited {
	
	color:#666;
	
}

#tag-index a:hover {

	color:#e9e9e9;	
	
}

#tag-index .alpha-menu {
	
	font-size:24px;	
	color:#666;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
	border:1px solid #666;
	border-right:none;
	border-left:none;
	
	background-color:#333;
	
}

#tag-index .tag-list {

	padding:3px;	
		font-size:20px;
	color:#666;
	text-align:justify;
}

#tag-index .tag-list ul {

	list-style:none;
	
}
#tag-index .tag-list ul li {

	float:left;
	margin:5px;	

}


#featured-post {
	
	background-image:url(/img/layout/featured-post-bg.png);
	height:258px;	
	width:297px;
	background-repeat:no-repaet;
	background-position:center center;
}

#featured-post .featured-thumb-over {

	position:absolute;
	display:none;
	height:160px;
	width:280px;
	background-image:url(/img/layout/featured-thumb-over.png);
	
}


#featured-post .inner {

	padding:3px;	
	padding-left:8px;
	padding-top:39px;
}

#featured-post .thumb {
	cursor:pointer;
	text-align:center;	
	margin-left:3px;
	position:relative;
}

#featured-post .title {
	
	color:#444;
	font-family:'Times New Roman';
	font-size:16px;
	margin-top:10px;
	text-indent:10px;
	
}

#featured-post .sub-title {
	color:#ccc;
	font-style:italic;	
	font-size:14px;
}


/*

CANTEEN CART WIDGET THING

*/

#canteen-cart-widget {
	
	position:absolute;
	top:0px;
	right:15px;
	width:221px;
	font-size:14px;
	color:#666;
	font-family:'Courier';
	height:100px;
}

#canteen-cart-widget .header-img {
	
	height:32px;
	background-image:url(/img/layout/canteen/cart/cart-widget-header.jpg);
	
}

#canteen-cart-widget .account {
	
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
}

#canteen-cart-widget .cart-items {
	
	border:1px dashed #666;
	border-right:none;
	border-left:none;
	padding-top:5px;
	padding-bottom:5px;
	
}

#canteen-cart-widget .cart-items .cart-icon {

	height:21px;
	width:19px;
	background-image:url(/img/layout/canteen/cart/cart-widget-icon.jpg);
	float:right;	
	
}
#canteen-cart-widget .cart-items .cart-link {

	padding-left:5px;
	padding-right:5px;
	font-size:14px;
	height:20px;
	line-height:20px;
	float:right;
}

#canteen-cart-widget .cart-items .cart-link a {

	color:#fff;	
	text-decoration:none;
}

#canteen-cart-widget .cart-items .item-count {

		float:right;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color:#666;
		color:#e9e9e9;
		height:20px;
		line-height:20px;
		padding-left:5px;
		padding-right:5px;
		text-align:center;
		font-size:13px;
		margin-left:8px;
}


/*
	LOGIN OVERLAY
	
*/

#login-overlay {
	
	background-image:url(/img/layout/login/login-overlay-bg.png);
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	z-index:1600;
	min-height:200px;
}

#login-overlay-wrapper {

	position:relative;
	width:100%;
		
}


#login-overlay-box {
	
	background-image:url(/img/layout/login/cart-login-bg.jpg);
	height:180px;
	width:523px;
	margin:auto;
	-moz-box-shadow:1px 1px 6px 1px #000000;
	-webkit-box-shadow:1px 1px 6px 1px #000000;
	box-shadow:1px 1px 6px 1px #000000;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength=1, direction=135, color='#000000');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=1, Direction=135, Color='#000000')";
}

#login-overlay-box h1 {

	font-size:26px;
	font-weight:normal;
	color:#333;
	text-align:center;	
	padding:0px;
	margin:0px;
	padding-top:20px;
}

#login-overlay-box .facebook {

	text-align:center;
	padding-top:20px;	
	
}

.fb-form-button {
	
	position:relative;	
	
}

.fb-form-button img {
	
	cursor:pointer;	
	
}

.fb-form-button .flag {
	
	position:absolute;
	top:1px;
	right:-34px;
	width:28px;
	background-image:url(/theme/31-days-of-theotis/img/fb-tail.png);
	text-indent:9px;
	font-size:11px;
	color:#333;
	font-family:'lucida grande', sans-serif;
	height:18px;
	line-height:18px;
	border-right:1px solid #d7d7d7;
}

/*
	31 dot winner banner	
*/
	
#theotis-winner-banner {
	
	height:100px;
	background-image:url(/theme/31-days-of-theotis/img/winner-banner-bg.jpg);
	position:relative;
	width:700px;
	margin:auto;
	font-family:'Arial';
	padding-bottom:20px;
	background-repeat:no-repeat;
}

#theotis-winner-banner a {

	text-decoration:none;
	color:inherit;	
	
}

#theotis-winner-banner .day {
	
	position:absolute;
	top:20px;
	color:#b90000;
	font-size:22px;
	left:5px;
}

#theotis-winner-banner .facebook-img {

	position:absolute;
	width:50px;
	height:50px;
	border:2px solid #e9e9e9;
	top:50px;
	
}

#theotis-winner-banner .name {
	
	position:absolute;
	width:600px;
	font-size:48px;
	font-weight:bold;
	font-family:'Arial';	
	color:white;
	top:46px;
	left:5px;
	
}

/*
emails of the weeks
*/

.emotw-loading-screen {
	
	display:none;
	background-color:#000;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	text-align:center;
}

.emotw-div {
	
	width:687px;
	margin:auto;
	
	
}

.emotw-div h1 {

	text-align:left;
	text-indent:5px;
	font-weight:bold;
	font-size:24px;
	font-family:'Arial';
	padding:5px;
	border-bottom:2px solid #666;
	
}

.emotw-div h2 {

	text-align:left;
	text-indent:5px;
	font-weight:bold;
	font-size:16px;
	font-family:'Arial';
	padding:5px;
	margin-bottom:4px;
	font-style:italic;
	
}


.emotw-div .emotw-container {
	
	background-image:url(/img/layout/dops/post-text-bg.png);
	
	margin-top:68px;
	
}

.emotw-div .emotw-container-top {
	
	background-image:url(/img/layout/dops/post-text-top.png);
	background-repeat:no-repeat;
	margin-top:-68px;	
	float:left;
	padding-top:10px;
	width:100%;
	
}

.emotw-content {
	
	width:95%;
	margin:auto;
	
}


.emotw-content .p-content {
	
	text-align:left;
	font-size:14px;
	font-family:'Courier';
	color:#333;	
	
}

.emotw-content .p-content img {

	margin:6px;	
	
}

.emotw-content .p-content hr {

	width:100%;
	margin:0px;
	margin-top:5px;
	margin-bottom:5px;	
	
}

.emotw-div .emotw-bottom {

	background-image:url(/img/layout/dops/post-text-bottom.png);
	background-repeat:no-repeat;
	height:41px;	
	
}

.emotw-div .paging-links {

	text-align:center;	
	
}

.emotw-div .paging-links .paging-link {

	display:block;
	width:143px;
	height:44px;
	line-height:44px;	
	text-align:center;
	color:#666;
}

.emotw-div .paging-links .next-link {

	float:right;	
	background-image:url(/img/layout/right-tab-button-bg.png);
}

.emotw-div .paging-links .prev-link {

	float:left;	
	background-image:url(/img/layout/left-tab-button-bg.png);
}

.emotw-div .paging-links .paging-info {

	text-align:center;	
	margin-left:150px;
	margin-right:150px;
	line-height:35px;
	height:35px;
	
}


/*
	PROFILES
*/
#profile-body {

	width:1000px;
	margin:auto;	
	
}

