@CHARSET "UTF-8";
body {


}

#top-banner-container {

	display:none;	
	
}

#canteen-container {


}

#canteen-navbar {

	background-image:url(/img/layout/canteen/canteen-nav-bg.jpg);
	width:963px;
	height:58px;
	margin-top:-70px;
	margin-left:75px;

}



/*
	CANTEEN PRODUCT THUMB
*/
.canteen-product-thumb {
	
	width:262px;
	height:262px;
	position:relative;
	cursor:pointer;
	
}	

.canteen-product-thumb a {

	text-decoration:none;

}

.canteen-product-thumb img {

	display:block;
	border:none;
	
	
}

.canteen-product-thumb .info {

	display:none;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-image:url(/img/layout/canteen/blk-pix.png);
	text-shadow: 2px 2px 2px #000000;
	filter: dropshadow(color=#000000, offx=2, offy=2);

}

.canteen-product-thumb .info .info-spacer {

	height:183px;	
	
}

.canteen-product-thumb .info .brand {
	
	font-size:11px;
	color:#999;
	font-family:'Arial';
	text-indent:4px;
}

.canteen-product-thumb .info .name {
	
	font-size:17px;
	font-family:'Courier';
	letter-spacing:.5px;
	text-indent:4px;
	
}

.canteen-product-thumb .info .sub-title {

	font-size:14px;
	font-family:'Courier';
	text-indent:4px;	
	font-style:italic;
	
}

.canteen-product-thumb .info .price {
	
	text-align:right;	
	padding-right:5px;
	font-family:'Courier';
	font-size:20px;
	
}


/*
	CANTEEN INVOICE
	
*/

#canteen-order-confirmation {

	background-image:url(/img/layout/canteen/order-conf-bg.jpg);
	height:668px;
	color:#222;
	position:relative;
	font-family:"Courier New", Courier, monospace;
	font-size:13px;
	width:728px;
	float:left;
}

#canteen-order-confirmation a {

	color:inherit;

}

#canteen-order-confirmation .message {
	
	font-size:14px;
	width:95%;
	margin:auto;
	font-family:'Times New Roman';
	text-align:justify;
	text-indent:15px;
	font-weight:600;
}



#canteen-order-confirmation .top-spacer {

	height:75px;

}

#canteen-order-confirmation .ship-to {
	
	float:left;
	width:52%;
	margin-left:4%;
	font-weight:bold;
}

#canteen-order-confirmation .bill-to {
	
	float:right;
	width:39%;
	margin-right:3%;
	font-weight:bold;
}

#canteen-order-confirmation .heading {

	font-weight:bold;
	font-size:16px;
	font-family:'Times New Roman';
	
}

#canteen-order-confirmation .customer {

	padding-top:10px;

}

#canteen-order-confirmation .items {
	
	width:95%;
	margin:auto;
	margin-top:10px;
}

#canteen-order-confirmation .items table {
	
	width:100%;
	border:none;
}
#canteen-order-confirmation .items table th {

	font-family:'Times New Roman';
	font-size:16px;
	border-bottom:1px solid #333;

}
#canteen-order-confirmation .items table td {

	padding:2px;
	border-bottom:1px solid #333;
	padding-top:6px;
	padding-bottom:6px;
	font-weight:600;
}

#canteen-order-confirmation .totals {

	
	width:95%;
	margin:auto;
	margin-top:10px;
}

#canteen-order-confirmation .totals table {

	width:200px;
	float:right;
	font-weight:600;

}

#canteen-order-confirmation .totals table td {
	
	padding:3px;
	

}

#canteen-order-confirmation .totals table td:nth-child(1) {
	
	font-family:'Times New Roman';
	font-weight:bold;

}

#canteen-order-confirmation .totals table td:nth-child(2) {

border-bottom:1px solid #333;

}





