@CHARSET "UTF-8";
body {


}

#canteen-container {


}

#canteen-navbar {

	background-image:url(/img/layout/canteen/canteen-nav-bg.jpg);
	width:963px;
	height:58px;
	margin-top:-70px;
	margin-left:75px;

}



/*
	CANTEEN PRODUCT THUMB
*/
.canteen-product-thumb {
	
	width:262px;
	height:262px;
	position:relative;
}	

.canteen-product-thumb a {

	text-decoration:none;

}

.canteen-product-thumb img {

	display:block;
	border:none;

}

.canteen-product-thumb .info {

	display:none;

}