@CHARSET "UTF-8";

#article-view {

	padding:8px;

}
.paragraph-bit {

	margin-bottom:10px;

}
.paragraph-bit p {

	text-indent:10px;	
	
}
.paragraph-bit .left {

	float:left;
	padding-right:7px;
}

.paragraph-bit .right {

	float:right;
	padding-left:7px;
}

.paragraph-bit {

	font-family:times;
	font-size:102%;

}
.paragraph-bit  .soundcloud {
	
	padding:5px;	
	
}

.paragraph-bit .youtube-video, .paragraph-bit .vimeo-video {

	margin-top:5px;
	margin-bottom:5px;

}

#gallery {

	

}

#gallery .view-port {

	text-align:center;
	height:405px;
}

#gallery .thumb-wrapper {

	border-top:1px solid #999999;
	background-color:#000000;
	
}

#gallery .tab-left {

	width:20px;
	height:95px;
	background-color:green;
	float:left;
	
}

#gallery .tab-right {

	width:20px;
	height:95px;
	background-color:green;
	float:right;
}

#gallery .thumbs {

	overflow:hidden;
	position:relative;
	height:95px;
	width:555px;
	margin:auto;
	
}

#gallery .thumbs .strip {

	margin-right:-32767px;
	float:left;
	
	
}

#gallery .thumbs .strip .selected {

	border:1px solid yellow;

}

#gallery .thumbs .strip .gallery-thumb {

	float:left;
	margin:5px;
	margin-left:13px;
	margin-right:13px;
	width:85px;
	height:85px;
	overflow:hidden;
}