@CHARSET "UTF-8";

#page-container {

	background-image:url(/theme/sls-voting/img/grip-bg.jpg);
	background-repeat:repeat-y;
	background-position:center top;
	
}

#sls-qualifying-body { 

	margin-top:-20px;
		
}


#sls-voting-section {

	background-image:url(/theme/sls-voting/img/blk-px.png);
	width:990px;
	margin:auto;
}

#sls-voting-section .inner {

	padding:5px;

}
	
#sls-voting-section .voting-heading {

}

#sls-voting-section .vote-section {

}

#sls-voting-section .vote-section .entries {

	width:49%;
	float:left;
	
}

#sls-voting-section .vote-section .voting {

	width:49%;
	float:right;
	
}

#sls-voting-section .rules {

	
	width:95%;
	margin:auto;
	background-color:#000;

}
#sls-voting-section .rules .inner {

	padding:10px;

}