@CHARSET "UTF-8";

#page-container {

	background-image:url(/theme/sls-voting/img/grip-bg.jpg);
	background-repeat:repeat-y;
	background-position:center top;
	
}

#sls-qualifying-body { 

	
		
}


#sls-voting-section {


}

#sls-voting-section .voting-heading {

}

#sls-voting-section .vote-section {

}

#sls-voting-section .vote-section .entries {

	width:49%;
	float:left;
	
}

#sls-voting-section .vote-section .voting {

	width:49%;
	float:right;
	
}