body {

	background-image:url(/theme/bones-new-ground/img/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-color:#000;
}

#bones-new-ground {

	max-width:900px;
	margin:auto;

}

#bones-new-ground .header {

	background-image:url(/theme/bones-new-ground/img/header-bg.jpg);
	background-position: top center;
	height:200px;
	margin-top:15px;

}

#bones-new-ground .post-view {

	max-width:728px;
	margin:auto;

}

#bones-new-ground .post-view .standard-post .post-top h1 a,
#bones-new-ground .post-view .standard-post .post-top h2 a {

	color:#fff;

}

#bones-new-ground .chapters {


}

#bones-new-ground .chapters .chapter-thumb {

	float:left;
	max-height:185px;
	margin-bottom:15px;
	width:33%;
	
}


#bones-new-ground .chapters .chapter .play-icon {

	position: absolute;
	width:100%;
	height:100%;
	background-image:url(/theme/bones-new-ground/img/playbutton-thumb.png);
	background-repeat: no-repeat;
	background-position: center center;

}




/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }
