@CHARSET "UTF-8";
/*
Author: John Hardy (john@eightequalsd.com)
*/
* {

	padding:0px;
	margin:0px;	
	
}

body {
	
	font-family:arial;
	background-color:black;	
	color:white;
	background-image:url(/img/layout/bg.jpg);
	font-size:75%;
}

#header {
	
	
	background-color:black;
	
	text-align:center;
	background-image:url(/img/layout/main-header.png);
	background-position:top center;
	background-repeat:no-repeat;
	height:111px;
}

#header .inner {

	width:855px;
	margin:auto;
	height:111px;
	position:relative;
	
}
             

#header .dc-link {

	position:absolute;
		

	top:0px;
	left:0px;
	z-index:1000;
}

#header .home {

	position:absolute;
	top:0px;
	left:100px;
		
	
}

#dc-header {
	
	background-image:url(/img/layout/dc-header.png);	
	height:118px;
	position:relative;
		
}

#dc-header .banner {

	position:absolute;
	right:0px;
	top:22px;	
	
}

#pagecontainer {

	width:840px;
	margin:auto;	
	
}

#batb4-header {

	height:134px;
	background-image:url(/img/layout/batb4-header.png);
	margin-top:8px;
	position:relative;
}

#batb4-header .lrg-link {

	position:absolute;
	right:0px;
	top:0px;
		
	
}



#bracket-container {

	position:relative;	
	height:800px;
	
}

#flashMessage  {

	background-color:red;
	color:white;
	font-weight:bold;
	font-size:160%;	
	border-radius:10px;
	-moz-border-radius:10px;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	padding:10px;
}



/*modal stuff */
#modal-overlay {

	background-image:url(/img/layout/satin.png);	
	position:absolute;
	top:0px;
	left:0px;
}

#modal-relative {
	
	position:relative;
	
}

#modal-inner {

	width:750px;	
	margin:auto;
}

#modal-content {
	
	display:none;
	background-color:black;

}

