@CHARSET "UTF-8";

#header .top-nav {

	position:absolute;	
	left:45px;
	bottom:0px;
}

#header .top-nav .li-button {

	float:left;
	margin-right:2px;
	list-style:none;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color:#6f8591;
	height:30px;
	line-height:30px;
	padding-left:8px;
	padding-right:8px;
	position:relative;
	cursot:pointer;
	font-size:14px;
}

#header .top-nav .li-button-hover {

	background-color:#4e5b6a;	
	
}


#header .top-nav .li-button a {

	text-decoration:none;
	
}

#header .top-nav .li-button .sub-nav-list {

	display:none;
	background-color:#4e5b6a;
	position:absolute;
	top:30px;
	left:0px;
}

#header .top-nav .li-button .sub-nav-list .li-sub-nav-button {

	font-size:90%;
	list-style:none;
	white-space:nowrap;
	padding-left:8px;
	padding-right:8px;
	height:22px;
	line-height:22px;
	text-indent:15px;
}

#header .top-nav .li-button .sub-nav-list .li-sub-nav-header {

	font-size:95%;
	font-weight:bold;
	white-space:nowrap;
	padding-left:5px;
	padding-right:5px;
	height:22px;
	line-height:22px;
	color:white;
	list-style:none;

}