header  {

	background-image:url(/theme/xmas-2012/img/v3/layout/Nav_BG.png);
	background-color:#172a08;
}

/* Large desktop */
@media (min-width: 1200px) { 

	body {

		background-image:url(/theme/xmas-2012/img/v3/layout/xmas_bg.jpg);

	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }

