
@font-face {
    font-family: 'universcn';
    src: url('/fonts/universltstdcn.eot?') format('eot'),
         url('/fonts/universltstdcn.woff') format('woff'),
         url('/fonts/universltstdcn.ttf') format('truetype'),
         url('/fonts/universltstdcn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {

	background-color: #fff;
	font-family: "Times New Roman";
}

body * {

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	

}
#body-div.top-nav-showing {

	padding-top:60px;

}

#main-container {


}

#top-header {

	position: relative;
	margin-bottom:8px;
}

#top-header .facebook-button {



}

#top-header h1 {

	font-size:72px;
	letter-spacing:8px;
	font-weight: normal;
	
}
#top-nav-container {

	background-image:url(/img/v3/layout/top-nav-borders.png);
	height:32px;
	
}

#top-nav-container .top-nav-logo {

	display: none;

}

#top-nav-container.top-nav-parked {

	z-index: 99999;
	position:fixed;
	top:0px;
	background-color:#fff;
}
#top-nav-container.top-nav-parked .top-nav-logo {

	display:block;

}

#top-nav-container.top-nav-parked .top-nav-logo img {

	width:fixed;

}


#top-nav-list {

	list-style: none;
	margin:0px;
	padding:0px;
	margin-top:6px;
}

#top-nav-list li {

	float:left;
	padding-left:24px;
	padding-right:24px;
	height:22px;
	line-height:22px;
	font-size:16px;
	text-align:center;

}

#top-nav-list li.spacer {

	width:2px;
	background-image:url(/img/v3/layout/nav-spacer.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding:0;

}

#top-nav-container.top-nav-parked li {

	

}

#top-nav-list li:last-child {

	border:none;

}


#body-div {

	

}

/*

MAIN UTILITY CLASSSES

*/

.content-column {

	background-color:#fff;
	box-shadow:0px 2px 3px #333;
	padding:3px;
}

.banner-728 {

	max-width:728px;
	max-height: 90px;
	background-color:#000;

}


/*
#########################
VIDEO DIV PLUGIN
#########################
*/

.video-div {

	width:100%;
	position:relative;
}

.video-div:-webkit-full-screen	{ height: 100%; background-color:#000; }
.video-div:-moz-full-screen		{ height: 100%; background-color:#000; }
.video-div:-ms-full-screen		{ height: 100%; background-color:#000; }
.video-div:-o-full-screen		{ height: 100%; background-color:#000; }
.video-div:full-screen			{ height: 100%; background-color:#000; }

.video-div:-webkit-full-screen	video { height: 100%; }
.video-div:-moz-full-screen		video { height: 100%; }
.video-div:-ms-full-screen		video { height: 100%; }
.video-div:-o-full-screen		video { height: 100%; }
.video-div:full-screen			video { height: 100%; }

.video-div video {

	width:100%;
	
}


.video-div .pause-overlay {

	background-image:url(/img/v3/player/blk-bg.png);
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	display:none;

}
.video-div .click-element {

	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	display:none;

}

.video-div .controls {

	height:40px;
	position:absolute;
	bottom:5px;
	left:5px;
	right:5px;
}


.video-div .controls .inner {

	position: relative;
	
}



.video-div .controls .play-btn {

	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -6px -3px;
	height:40px;
	width:50px;
	position:absolute;
	left:0px;
}

.video-div .controls .play-btn.paused {

	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -5px -53px;

}

.video-div .controls .play-btn:hover {

	cursor: pointer;
	background-color:#e9e9e9;

}

.video-div .controls .slowmo-btn {

	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -15px -107px;
	height:35px;
	width:30px;
	left:55px;
	margin-top:5px;
	position:absolute;
}
.video-div .controls .slowmo-btn:hover {

	cursor: pointer;
	background-color: #e9e9e9;


}

.video-div .controls .slowmo-btn.active {


	background-color:#e9e9e9;

}
.video-div .controls .fullscreen-btn {

	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -6px -3px;
	height:35px;
	width:30px;
	position:absolute;
	right:0px;
	margin-top:5px;
}




.video-div .slider {

	height:35px;
	position:absolute;
	left:90px;
	bottom:0px;
	background-image: url(/img/v3/player/grey-px.png);
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	right:0px;
	top:5px;

}
.video-div .slider .tracking-bar {

	margin-left:15px;
	margin-top:10px;
	margin-right:150px;
	height:15px;
	border:2px solid #e9e9e9;
	position:relative;
	cursor: pointer;
}
.video-div .slider .tracking-bar .playhead {

	z-index: 902;
	position:absolute;
	height:100%;
	width:1px;
	top:0px;
	left:0px;
	background-color: red;
}
.video-div .slider .tracking-bar .playhead .time-bubble {

	position: relative;
	width:36px;
	height:16px;
	background-color: #999;
	margin-top:-18px;
	margin-left:-18px;
	border-radius: 3px;

}

.video-div .slider .tracking-bar .playhead .time-bubble .inner {

	text-align: center;
	font-size: 11px;
	color:#666;
	line-height: 16px;

}

.video-div .slider .tracking-bar .seekhead .time-bubble {

	position: relative;
	width:36px;
	height:16px;
	background-color: #999;
	margin-top:-18px;
	margin-left:-18px;
	border-radius: 3px;

}

.video-div .slider .tracking-bar .seekhead .time-bubble .inner {

	text-align: center;
	font-size: 11px;
	color:#666;
	line-height: 16px;

}
.video-div .slider .tracking-bar .seekhead {

	z-index: 902;
	position:absolute;
	height:100%;
	width:1px;
	top:0px;
	left:0px;
	background-color: red;
	display: none;
}
.video-div .slider .tracking-bar .buffer {

	z-index: 900;
	position:absolute;
	height:100%;
	background-color:blue;
	width:0%;
	left:0px;
}

.video-div .slider .tracking-bar .prog-bar {

	z-index: 901;
	position:absolute;

	height:100%;
	background-color:green;
	width:0%;
	left:0px;
}
/*
##################
TWO COLUMN BODY
##################
*/

#two-column-body {

	margin-top:8px;


}

#two-column-body .left-col {

	

}
#two-column-body .left-col .inner {

	max-width:728px;
	margin:auto;

}
#two-column-body .right-col {

	height:100%;
	border-left:2px dotted #ccc;

}

/*
#######################
STANDARD RIGHT COLUMN
#######################
*/
#standard-right-column {

	max-width: 300px;
	margin: auto;

}

/*
######################
TRENDING TABS
######################
*/

hr.hr1 {

	background-image:url(/img/v3/layout/hr-1.png);
	height:5px;
	background-color: transparent;
	border:none;
	margin-top:3px;
	margin-bottom:3px;
}

#trending-content {

}

#trending-content .tab-row {

	margin-top:3px;

}

#trending-content .tab-row .tab  {

	width:33.3%;
	border:1px solid #000;
	border-right:none;
	float:left;
	text-align:center;
	font-size: 14px;
	line-height:18px;
	font-weight: bold;
}

#trending-content .tab-row .tab:last-child {

	border-right:1px solid #000;
	width:33.4%;
}


#trending-content h2 {

	font-family: 'universcn';
	font-size:22px;
	padding:4px;
	padding-bottom:0px;
	margin:0;
	line-height:22px;
	border-bottom:2px solid #000;
	font-weight: normal;

}

#trending-content table {


	width:100%;

}

#trending-content table td {

	padding:4px;
	border-bottom:1px solid #ccc;
	padding-bottom:8px;
	font-size: 18px;
	font-family: 'universcn';

}

#trending-content table td small {

	font-family: 'Times New Roman';
	font-style: italic;
	font-size:12px;
	color:#666;

}

#trending-content table tr:last-child td {

	border:none;

}

/*
######################
END VIDEO PLUGIN
######################
*/

/*
#######################
GLOBAL POST ELEMENTS
#######################
*/

.post {

	margin-top:10px;
	margin-bottom:5px;
	border-top:1px solid #000;
}

.post .post-top {


}

.post .post-top h1 {

	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: 'Arial';
	padding:0;
	margin:0;

}

.post .post-top h2 {

	text-align: center;
	font-size: 16px;
	line-height: 20px;
	font-family: 'Times New Roman';
	padding:0;
	margin:0;
	margin-bottom:3px;
	font-style: italic;
	font-weight: normal;
}
/*
#####################
standard post 
#####################
*/
.standard-post {


}

.standard-post .post-top {


}

.standard-post .post-top h1 {




}

.standard-post div[data-media-file-id] {

	max-width:700px;
	margin:auto;

}




/*

RESPONSIVE SHIT
*/

/* Large desktop */
@media (min-width: 1200px) { 

	#top-nav-container .span12 {

		margin:0;

	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	#top-nav-list li {
		font-size:15px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {



}
 
/* Landscape phones and down */
@media (max-width: 480px) { 


}

