
body * {

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family: "Times New Roman";

}

#main-container {


	border:2px solid #000;
	border-top:none;

}

#top-header h1 {

	font-size:72px;
	letter-spacing:8px;
	font-weight: normal;
	
}

