
@font-face {
    font-family: 'universcn';
    src: url('/fonts/universcn.eot?') format('eot'),
         url('/fonts/universcn.woff') format('woff'),
         url('/fonts/universcn.ttf') format('truetype'),
         url('/fonts/universcn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'universcnb';
    src: url('/fonts/universcnb.eot?') format('eot'),
         url('/fonts/universcnb.woff') format('woff'),
         url('/fonts/universcnb.ttf') format('truetype'),
         url('/fonts/universcnb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {

	background-color: #fff;
	font-family: "universcn";
	

}

body * {

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	

}

header {

	background-image:url(/img/v3/layout/top-header-bottom-edge.png);
	background-repeat: repeat-x;
	background-position: bottom center;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:10001;
	margin:0;
	padding-bottom:3px;

}


h2 {

	margin:2px;

}

#berrics-heading-logo {

	margin-top:5px;
	margin-left:10px;

}




#body-div {

	

}

#body-row {

	padding-top:70px;

}



#main-container {


}

#top-nav-div {

	display:none;

}

#top-nav-div #top-nav-list {

	list-style: none;
	margin:0px;
	padding:0px;
	margin-top:4px;
	color:#fff;
	font-family: 'universcn';
	letter-spacing: 1px;
	margin-bottom:5px;
}

#top-nav-div #top-nav-list li {

	float:left;
	padding-left:14px;
	padding-right:14px;
	height:22px;
	line-height:28px;
	font-size:14px;
	text-align:center;
	cursor: pointer;

}
#top-nav-div #top-nav-list li.nav-btn:hover {

	

}
#top-nav-div #top-nav-list li:hover a {

	border-bottom:1px dotted #fff;
	
}

#top-nav-div #top-nav-list li a {

	color:#fff;

}
#top-nav-div #top-nav-list li a:hover {

	color:#fff;
	text-decoration:none;
	

}
#top-nav-div #top-nav-list li.spacer {

	width:2px;
	background-image:url(/img/v3/layout/nav-spacer.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding:0;

}

#top-nav-div #top-nav-list li.search {

	float:right;

}

#top-nav-div #top-nav-list li.search input[type=text] {

	font-size:12px;
	font-family: 'Arial';
	height:18px;
	line-height:18px;
	padding:2px;

}

#top-nav-div #top-nav-list li.search label {

	width:auto;
	float:left;
	padding-right:8px;
}

#top-nav-div #top-nav-list li.search button {

	background-image: url(/img/v3/layout/search-button.png);
	background-repeat: no-repeat;
	height:19px;
	width:19px;
	margin:0;
	padding: 0;
	border:none;
	background-color: transparent;
	margin-bottom:10px;
}



#top-nav-div #top-nav-list li:last-child {

	border:none;

}

#top-nav-div #top-dropdown {

	position: relative;
	z-index: 10005;
}


#top-nav-div #top-dropdown ul {

	list-style: none;

}

#top-nav-div #top-nav-list #top-dropdown-menu {

	position: absolute;
	display: none;
	width:450px;	
	left:0px;
	top:21px;
	padding-top:3px;
	z-index: 10010;

}
#top-nav-div #top-nav-list #top-dropdown-menu .inner {

		background-color: #fff;
		border: 2px solid #000;
		border-top:0;
		padding:8px;
}

#top-nav-div #top-nav-list #top-dropdown-menu ul {

	padding:0;
	margin: 0;

}

#top-nav-div #top-nav-list #top-dropdown-menu ul li {

	width:49%;
	float:left;
	text-align: left;
	font-size: 12px;
	font-family: 'universcn';
	line-height:18px;
	border-bottom:1px solid #000;
	margin:0;
	padding:2px;

}


#top-nav-div #top-nav-list #top-dropdown-menu ul li:hover,
#top-nav-div #top-nav-list #top-dropdown-menu ul li:hover a {

	background-color: #000;
	color:#fff;
	border:none;
}

#top-nav-div #top-nav-list #top-dropdown-menu ul li:nth-child(even) {

	float:right;

}

#top-nav-div #top-nav-list #top-dropdown-menu ul li img {

	margin-right:3px;

}

#top-nav-div #top-nav-list #top-dropdown-menu ul li a {

	color:#000;
	display:block;
}

#top-nav-div #top-nav-list #top-dropdown-menu ul li a:hover {

	color:#fff;
	border:none;

}

#top-nav-mobile {

	display: none;
	padding:3px;
	padding-top: 8px;
}

#top-nav-mobile select {

	width:100%;
	

}



/*
##################
TWO COLUMN BODY
##################
*/

#two-column-body {

	margin-top:8px;
	height:100%;
	position: relative;

}

#two-column-body .left-column {

	

}
#two-column-body .left-column .inner {

	max-width:728px;
	margin:auto;

}
#two-column-body .right-column {

	height:100%;
	
}



/* Large desktop */
@media (min-width: 1200px) { 


	#body-row {

		border-right:2px dotted #ccc;
		border-left:2px dotted #ccc;
		

	}

	#two-column-body .right-column {

		
		border-left:2px dotted #ccc;
		

	}


	#two-column-body .right-column .inner {

		max-width: 300px;
		margin: auto;

	}



}

 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 



	/*
	Two Column Body
	*/
	#two-column-body .left-column {

		clear:both;
		width:100%;


	}

	#two-column-body .right-column {

		clear:both;
		width:100%;
		margin:0;

	}



	header {

		position: absolute;
		background-position: center -117px;
		margin-bottom:15px;
		height:auto;
		top:0px;
		left:0px;
		width:100%;
	}

	#body-row {

		padding-top:85px;

	}
	


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


	header {

		position: absolute;
		background-position: center -117px;
		margin-bottom:15px;
		height:auto;
		top:0px;
		left:0px;
		width:100%;
	}
	#body-row {

		padding-top:85px;

	}

		#two-column-body .right-column {

		clear:both;
		width:100%;
		margin:0;

	}


}
 
/* Landscape phones and down */
@media (max-width: 480px) { 



	header {

		position: absolute;
		background-position: center -117px;
		margin-bottom:15px;
		height:auto;
		top:0px;
		left:0px;
		width:100%;
	}

	#body-row {

		padding-top:85px;

	}

		#two-column-body .right-column {

		clear:both;
		width:100%;
		margin:0;

	}

}

/*###############################################*/

/*
#######################
STANDARD RIGHT COLUMN
#######################
*/
#standard-right-column {



}


/*
######################
NEWS HEADLINES
######################
*/

#news-headlines {


}

#news-headlines .content {

	min-height:300px;

}

/*
######################
TRENDING TABS
######################
*/



#trending-content {

	position: relative;

}

#trending-content .loading {

	position: absolute;
	top:55px;
	left:0px;
	width:100%;
	bottom:0px;
	background-image: url(/img/v3/layout/blk-px.png);
	display: none;
	
}

#trending-content .content {

	min-height:300px;

}

#trending-content .loading .spinner {

	height:100%;
	width:100%;
	background-image: url(/img/v3/layout/loader-big.gif);
	background-repeat: no-repeat;
	background-position: center center;

}

#trending-content .tab-row {

	margin-top:3px;

}

#trending-content .tab-row .tab  {

	width:33.3%;
	border:1px solid #000;
	border-right:none;
	float:left;
	text-align:center;
	font-size: 14px;
	line-height:18px;
	font-family: 'universcnb';
	padding-top:4px;

}
#trending-content .tab-row .tab.active,
#trending-content .tab-row .tab:hover {

	background-color:#000;
	color:#fff;
	cursor: pointer;

}

#trending-content .tab-row .tab:last-child {

	border-right:1px solid #000;
	width:33.4%;
}


#trending-content h2 {

	font-family: 'universcnb';
	font-size:18px;
	padding:4px;
	padding-bottom:0px;
	margin:0;
	line-height:22px;
	border-bottom:2px solid #000;
	font-weight: normal;

}

#trending-content table {


	width:100%;

}

#trending-content table td {

	padding:4px;
	border-bottom:1px solid #ccc;
	padding-bottom:8px;
	font-size: 18px;
	font-family: 'universcn';

}

#trending-content table td small {

	font-family: 'Times New Roman';
	font-style: italic;
	font-size:12px;
	color:#666;

}

#trending-content table tr:last-child td {

	border:none;

}



/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  


	#trending-content,
	#news-headlines {

		float:left;
		width:49%;
		clear:left;
	}

	#standard-right-column hr.hr1 {

		display: none;

	}

	
	#standard-right-column .banner-300 {

		float:right;
		
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	#trending-content,
	#news-headlines {

		float:left;
		width:49%;
		clear:left;
	}

	#standard-right-column hr.hr1 {

		display: none;

	}

	
	#standard-right-column .banner-300 {

		float:right;
		
	}

 }
 
/* Landscape phones and down */
@media (max-width: 480px) {  

	#trending-content,
	#news-headlines {

		float:none;
		width:100%;

	}

	#standard-right-column hr.hr1 {

		display: none;

	}

	
	#standard-right-column .banner-300 {

		float:none;
		width:100%;
		margin:auto;
	}


}





/*
################################
MAIN UTILITY CLASSSES
################################
*/

.content-column {

	background-color:#fff;
	box-shadow:0px 2px 3px #333;
	padding:3px;
}
hr.hr1 {

	background-image:url(/img/v3/layout/hr-1.png);
	height:5px;
	background-color: transparent;
	border:none;
	margin-top:3px;
	margin-bottom:3px;
}

/*
################################
BANNERS
################################
*/

.banner-728 {

	max-width:728px;
	max-height: 90px;
	background-color:#000;

}
.banner-300 {

	max-width: 300px;
	max-height: 250px;
	background-color: #000;

}


/*
################################
BATTLE COMMANDER / UN / RECRUIT
#################################
*/

#commander-view {

	max-width:728px;
	margin:auto;

}
#commander-view .commander-img {

	max-width:700px;
	margin:auto;
	margin-top: 5px;
}

#commander-view .posts-menu {


	font-family:'universcn';
	border-top:1px solid #333;
	margin-top:4px;

}

#commander-view .posts-menu h3 {

	font-weight: normal;
	font-size:16px;
	line-height:18px;

}

#commander-view .posts-menu .menu-item {

	float:left;
	width:49.5%;
}

#commander-view .posts-menu .menu-item:nth-child(odd) {

	float:right;

}

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	#commander-view .posts-menu .menu-item {

		width:100%;

	}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {  
	#commander-view .posts-menu .menu-item {

		width:100%;

	}
}

/*
#########################
VIDEO DIV PLUGIN
#########################
*/

.video-div {

	width:100%;
	position:relative;
}

.video-div:-webkit-full-screen	{ height: 100%; background-color:#000; }
.video-div:-moz-full-screen		{ height: 100%; background-color:#000; }
.video-div:-ms-full-screen		{ height: 100%; background-color:#000; }
.video-div:-o-full-screen		{ height: 100%; background-color:#000; }
.video-div:full-screen			{ height: 100%; background-color:#000; }

.video-div:-webkit-full-screen	video { height: 100%; }
.video-div:-moz-full-screen		video { height: 100%; }
.video-div:-ms-full-screen		video { height: 100%; }
.video-div:-o-full-screen		video { height: 100%; }
.video-div:full-screen			video { height: 100%; }

.video-div video {

	width:100%;
	background-color:#000;
}



.video-div .loader {

	background-image: url(/img/v3/layout/loader-big.gif);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}


.video-div .pause-overlay {

	background-image:url(/img/v3/player/blk-bg.png);
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	display:none;

}
.video-div .pause-overlay .play-icon {

	height:100%;
	width:100%;
	background-image: url(/img/v3/layout/play-button.png);
	background-repeat: no-repeat;
	background-position: center center;
	opacity: .6;

}
.video-div .click-element {

	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	display:none;

}

.video-div .controls {

	height:40px;
	position:absolute;
	bottom:5px;
	left:5px;
	right:5px;
	z-index: 5001;
}


.video-div .controls .inner {

	position: relative;

}



.video-div .controls .play-btn {

	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -6px -3px;
	height:40px;
	width:50px;
	position:absolute;
	left:0px;
}

.video-div .controls .play-btn.paused {

	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -5px -53px;

}

.video-div .controls .play-btn:hover {

	cursor: pointer;
	background-color:#e9e9e9;

}

.video-div .controls .slowmo-btn {

	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -15px -107px;
	height:35px;
	width:30px;
	left:55px;
	margin-top:5px;
	position:absolute;
}
.video-div .controls .slowmo-btn:hover {

	cursor: pointer;
	background-color: #e9e9e9;


}

.video-div .controls .slowmo-btn.active {


	background-color:#e9e9e9;

}
.video-div .controls .fullscreen-btn {

	background-image: url(/img/v3/player/player-sprite.png);
	background-repeat: no-repeat;
	background-position: -15px -162px;
	height:35px;
	width:30px;
	position:absolute;
	right:0px;
	margin-top:5px;
	z-index:6000;
		border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	cursor: pointer;
}

.video-div .controls .fullscreen-btn:hover {

	background-color: #ccc;

}


.video-div .slider {

	height:35px;
	position:absolute;
	left:90px;
	bottom:0px;
	background-image: url(/img/v3/player/grey-px.png);
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	right:0px;
	top:5px;
	z-index:5001;
}
.video-div .slider .tracking-bar {

	margin-left:15px;
	margin-top:10px;
	margin-right:100px;
	height:15px;
	border:2px solid #e9e9e9;
	position:relative;
	cursor: pointer;
}
.video-div .slider .tracking-bar .playhead {

	z-index: 902;
	position:absolute;
	height:100%;
	width:1px;
	top:0px;
	left:0px;
	background-color: #8c8c8c;
	z-index: 6002;
	font-family: 'Arial';
}
.video-div .slider .tracking-bar .playhead .time-bubble {

	position: relative;
	width:36px;
	height:16px;
	background-color: #8c8c8c;
	color:#fff;
	margin-top:-18px;
	margin-left:-18px;
	border-radius: 3px;
	
}

.video-div .slider .tracking-bar .playhead .time-bubble .inner {

	text-align: center;
	font-size: 11px;
	color:#fff;
	line-height: 16px;

}



.video-div .slider .tracking-bar .seekhead .time-bubble {

	position: relative;
	width:36px;
	height:16px;
	background-color: #000;
	margin-top:-18px;
	margin-left:-18px;
	border-radius: 3px;
	color:#fff;
	

}

.video-div .slider .tracking-bar .seekhead .time-bubble .inner {

	text-align: center;
	font-size: 11px;
	color:#fff;
	line-height: 16px;

}
.video-div .slider .tracking-bar .seekhead {

	z-index: 902;
	position:absolute;
	height:100%;
	width:1px;
	top:0px;
	left:0px;
	background-color: #fff;
	display: none;
	z-index: 6003;
	font-family: 'Arial';

}
.video-div .slider .tracking-bar .buffer {

	z-index: 900;
	position:absolute;
	height:100%;
	background-image: url(/img/v3/player/buffer-bg.png);
	width:0%;
	left:0px;
}

.video-div .slider .tracking-bar .prog-bar {

	z-index: 901;
	position:absolute;

	height:100%;
	background-color:#8c8c8c;
	width:0%;
	left:0px;
}

.video-div .controls .volume {

	position: absolute;
	width:70px;
	height:16px;
	right:20px;
	z-index: 5010;
	top:15px;
}
.video-div .controls .volume .inner {

	position: relative;

}
.video-div .controls .volume .vol {

	float:left;
	margin-right: 4px;
	width:5px;
	border:1px solid #fff;
	height:100%;
	background-color:#fff;
	cursor: pointer;
}


.video-div .controls .volume .vol.off {

	
	background-color:transparent;

}

.video-div .controls .volume .vol:hover {

	border-color:#333;

}

/*
######################
END VIDEO PLUGIN
######################
*/


/*
#######################
GLOBAL POST ELEMENTS
#######################
*/

.post {

	margin-top:5px;
	margin-bottom:5px;
	border-top:1px solid #000;
}

.post .post-top {


}

.post .post-top .date {

	float:left;
	font-size:11px;
	font-family: 'Arial';
	font-weight: bold;

}

.post .post-top .time {

	float:right;
	font-size:11px;
	font-family: 'Arial';
	font-weight: bold;
}

.post .post-top h1 {

	text-align: center;
	font-size: 22px;
	line-height: 24px;
	font-family: 'universcnb';
	padding:0;
	margin:0;
	font-weight: normal;
	padding-top: 5px;
}

.post .post-top h2 {

	text-align: center;
	font-size: 16px;
	line-height: 18px;
	font-family: 'Times New Roman';
	padding:0;
	margin:0;
	margin-bottom:3px;
	font-style: italic;
	font-weight: normal;
}

.post .post-top h1 a,
.post .post-top h2 a {

	color:#333;

}

.post .post-footer {

	max-width: 700px;
	margin: auto;

}

.post .post-footer .tags {

	font-size:9px;
	color:#999;
	font-family: 'Arial';
	line-height:11px;
	margin:0;

}
.post .post-footer .tags a {

	color:#999;
	border-bottom:1px dotted #ccc;

}

.post .post-footer .social-media .twitter {

	float:right;
	margin-right: 4px;
}

.post .post-footer .social-media .fb-like {

	float:right;

}

.post .post-text {

	max-width:700px;
	margin:auto;
	margin-bottom:14px;
	margin-top: 14px;
}

.post .post-text .text-content p {

	text-align: justify;
	font-size: 13px;
	line-height: 16px;
	color:#333;
	font-family: 'Times New Roman'
}

.post .post-media-div {

	position: relative;

}

.post .post-media-div .img-hover,
.post .post-media-div .video-hover {

	display: none;

}
.post .post-media-div .img-hover,
.post .post-media-div .video-hover {

	background-image:url(/img/v3/layout/blk-px.png);
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	z-index: 500;
}

.post .post-media-div .play-button {

	background-image:url(/img/v3/layout/play-button.png);
	background-position: center center;
	background-repeat: no-repeat;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	position: absolute;
	opacity:.6;
	z-index: 501;
	cursor: pointer;
}	

.post .post-media-div .play-button:hover {

	

}


/*
#####################
post section
#####################
*/

#post-section {

	max-width:728px;
	margin:auto;

}

#post-section .section-heading-div {

	border-bottom:1px solid #000;

}

#post-section #jump-menu {

	padding-top:15px;

}
#post-section #jump-menu label {

	font-family: 'universcnb';

}

#post-section #jump-menu .form-horizontal .control-group,
#post-section #jump-menu form {

	margin-bottom:0;

}

#post-section .bottom-year-nav {

	margin-top: 10px;

}

#post-section h1 {

	margin:0;
	padding-top:10px;
	padding-bottom: 3px;
	border-bottom:1px solid #333;
	width:100%;
	font-weight: normal;
	font-size:24px;
	line-height:26px;
}

#post-section h3 {

	margin:0;
	padding-top:10px;
	padding-bottom: 3px;
	border-bottom:1px solid #333;
	width:100%;
	font-weight: normal;
	font-size:20px;
	line-height: 24px;
}

/*
#####################
post section
#####################
*/

#post-view {


}
#post-view h3 {

	margin:0;
	padding-top:10px;
	padding-bottom: 3px;
	border-bottom:1px solid #333;
	width:100%;
	font-weight: normal;
	font-size:20px;
}

/*
#####################
tags section
#####################
*/
#tags-section {

	max-width:728px;
	margin:auto;

}

#tags-section .heading {

border-bottom:2px dotted #ccc;

}

#tags-section .heading h1 {

	font-family: 'universcnb';
	font-weight: normal;

}

#tags-section .pagination ul li a {

	font-family: 'universcn';
	color:#333;
}



/*
#####################
standard post 
#####################
*/
.standard-post {

}

.standard-post .post-top {


}

.standard-post .post-top h1 {




}

.standard-post .post-media-div {

	max-width:700px;
	margin:auto;
	text-align: center;


}

/*
#####################
large post 
#####################
*/

.large-post {



}

.large-post .post-media-div {

	min-height: 50px;

}




/*
##########################
GLOBAL POST THUMBNAIL
########################
*/

.post-thumb {

	position: relative;

}

.post-thumb .thumb {

	position: relative;

}

.post-thumb .thumb .overlay {

	background-image:url(/img/v3/layout/blk-px.png);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	display: none;
	z-index: 500;

}

.post-thumb .thumb .play-button {

	background-image:url(/img/v3/layout/play-button-thumb.png);
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	z-index: 501;
	opacity: .6;

}

.thumb-collection {



}

/*
##########################
STANDARD THUMBNAIL
########################
*/

.standard-post-thumb {

	max-width:32%;
	float:left;
	text-align:center;
	margin-top:14px;
	min-height: 134px;
}

.standard-post-thumb .post-title {

	font-family: "universcnb";
	font-size:14px;
	line-height: 14px;
	padding-top:3px;
	overflow:hidden;
	height:14px;

}

.standard-post-thumb .post-title a {

	color:#000;

}

.standard-post-thumb .post-sub-title {

	font-family: 'Times New Roman';
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	line-height: 12px;
	height:12px;
	overflow:hidden;


}
.standard-post-thumb .post-date {

	text-align: left;
	font-size:9;
	font-family: "universcnb";
	line-height: 9px;

}

.thumb-collection .standard-post-thumb:nth-child(3n+1) {

	margin-right:2%;
	

}
.thumb-collection .standard-post-thumb:nth-child(3n+3) {

	float:right;
	

}

/* Large desktop */
@media (min-width: 1200px) {  

	.thumb-collection .standard-post-thumb {

		max-width:24%;
		float:left;
		margin-right:1.3%;

	}
	.thumb-collection .standard-post-thumb:nth-child(3n+1) {

		margin-right:1.3%;
		

	}
	.thumb-collection .standard-post-thumb:nth-child(3n+3) {

		float:left;
		margin-right:1.3%

	}
	.thumb-collection .standard-post-thumb:nth-child(4n+4) {

		float:right;
		margin-right:0

	}



}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	.thumb-collection .standard-post-thumb {

		max-width:100%;
		width:100%;
		float:none;
		margin-right:1%;

	}
	.thumb-collection .standard-post-thumb:nth-child(3n+1) {

		margin-right:0
		

	}
	.thumb-collection .standard-post-thumb:nth-child(3n+3) {

		float:none;
		margin-right:0

	}
	.thumb-collection .standard-post-thumb:nth-child(4n+4) {

		float:none;
		margin-right:0

	}



}

/*#############################################*/

/*
##########################
BOOTSTRAP OVERRIDES
########################
*/

.nav-pills li a {

	color:#333;

}

.nav-pills li.active a {

	background-color:#ccc;

}


/*#############################################*/
/*#############################################*/
/*#############################################*/
/*#############################################*/


/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }

