@CHARSET "UTF-8";

#battle-commander .d-post-bit .bottom {

	padding-top:140px;	
	
}

#thumb-menu-header {

	height:49px;
	background-image:url(/img/layout/title_recruits.png);
	background-repeat:no-repeat;
	background-position:top center;

}