@CHARSET "UTF-8";

#account-body {

}

#account-body .account-content {

	width:728px;
	float:right;
}

#account-body .account-nav {

	width:300px;
	float:left;
	
}

.account-nav-bit {


}

.account-nav-bit ul {

		
	
}

.account-nav-bit ul li {

	list-style:none;
	background-image:url(/img/layout/profiles/profile-nav-bit-bg.png);
	background-repeat:no-repeat;
	height:54px;
	width:271px;
	font-family:'Courier';
	color:#666;
	line-height:45px;
	text-indent:65px;
	font-size:18px;
}

.account-nav-bit ul li a {

	text-decoration:none;
	color:#999;	
	
}

.account-nav-bit ul li ul {

	padding:0px;
	margin:auto;
	margin-top:10px;
	background-image:url(/img/layout/account/sub-nav-bg.png);
	width:253px;
	
}

.account-nav-bit ul li ul li {

	list-style:none;
	height:35px;
	line-height:35px;
	background-image:none;
	width:250px;
	margin:0px;
	padding:0px;
	text-indent:15px;
	
}

/* order history div */

.order-history-div {

}

.order-history-div .heading {

	border-bottom:2px dotted #999;	
	padding:5px;
	color:#666;
	font-size:24px;
	text-align:center;
	font-family:'Times New Roman';
}