@CHARSET "UTF-8";

#yn3-left-col {

	width:100%;

}

#main-container {

	background-image:none;	
	
}

#map {

	margin-top:35px;
	height:400px;
	width:700px;
	position:absolute;
	top:40px;
	left:25px;
}

#yn3-right-col {

	display:none;

}


.map-bg {
	
	
}

.map-bg .map-bg-container {
	
	background-image:url(/theme/younited-nations-3/img/map/map-bg.jpg);
	margin-top:377px;
	
}

.map-bg .map-bg-container-top {
	
	background-image:url(/theme/younited-nations-3/img/map/map-bg-top.jpg);
	margin-top:-377px;
	float:left;
	width:100%;
	background-repeat:no-repeat;
	padding-top:15px;
}

.map-bg .map-bg-bottom {
	
	background-image:url(/theme/younited-nations-3/img/map/map-bg-bottom.jpg);
	height:111px;
}

#yn3-crews .col-right {

	float:right;
	width:755px;
	clear:none;
	
}

#yn3-crews .col-right .map-container {

	background-image:url(/theme/younited-nations-3/img/map/gmaps-bg.jpg);
	height:554px;
	width:752px;
	position:relative;
	margin-right:3px;

}

#yn3-crews .col-left {

	float:left;
	width:294px;
	clear:none;
}

#yn3-crews .col-left .container {

	background-image:url(/theme/younited-nations-3/img/map/left-col-bg.png);
	margin-top:309px;		
	 
}

#yn3-crews .col-left .container-top {
	
	float:left;
	background-image:url(/theme/younited-nations-3/img/map/left-col-top.png);
	background-repeat:no-repeat;
	margin-top:-309px;
	width:100%;
}

#yn3-crews .col-left .bottom {

	background-image:url(/theme/younited-nations-3/img/map/left-col-bottom.png);
	height:123px;
	
}

#yn3-crews .country-list {
	
	width:245px;
	margin:auto;
	
}
#yn3-crews .country-list ul {

	margin:0px;
	padding:0px;
	list-style:none;	
	font-family:'Courier';
	font-size:18px;
	color:black;
}

#yn3-crews .country-list ul li {
	
	margin-top:5px;
	height:30px;
	
	
}

#yn3-crews .country-list ul li a {

	display:inline;
	text-decoration:none;
	color:inherit;	
	
}
#yn3-crews .country-list ul li .country-name {

	
	line-height:30px;
	border-bottom:2px solid #8c4232;
	display:block;
	width:81%;
	float:left;
}

#yn3-crews .country-list ul li .country-count {
	
	text-align:center;
	line-height:30px;
	border-bottom:2px solid #8c4232;
	display:block;
	width:16%;	
	float:right;	
	
}
#yn3-crews .country-list ul .over {

	background-color:#b1a577;	
	cursor:pointer;
	
}

#yn3-crews .crew-info {
	
	width:742px;
	float:right;
	margin-right:5px;
	
}

#yn3-crews .crew-info .crew-info-top {
	
	height:91px;
	background-image:url(/theme/younited-nations-3/img/map/crew-info-top.png);
	
}

#yn3-crews .crew-info .crew-info-bg {
	
	background-image:url(/theme/younited-nations-3/img/map/crew-info-bg.png);
	
}

#yn3-crews .crew-info .crew-info-bg .crew-content, #yn3-crews .crew-info .crew-info-bg .crew-menu {

	width:96%;
	margin:auto;	
	color:#000;
}

#yn3-crews .crew-info .crew-info-bottom {
	
	height:34px;
	background-image:url(/theme/younited-nations-3/img/map/crew-info-bottom.png);
	
}


#yn3-crews .crew-list {

	margin:0px;
	padding:0px;
	list-style:none;

}
#yn3-crews .crew-list li {

	font-family:'Times New Roman';
	color:#000;
	font-size:16px;
	float:left;
	width:48%;
	margin-right:1%;
	border-bottom:2px solid #8c4232;
	height:40px;
	margin-bottom:2px;
	background-image:url(/theme/younited-nations-3/img/map/vans_bullet.png);
	background-repeat:no-repeat;
	background-position: left 5px;
	
}

#yn3-crews .crew-list li .info {

	margin-left:36px;	
	
}
#yn3-crews .crew-list li .info .entry-date {

	font-size:12px;
	font-family:'Arial';	
	
}


.yn3-info-window {

	background-color:#999;	
	width:280px;
	
}
