@CHARSET "UTF-8";

body {

	background-image:url(/theme/younited-nations-3/img/bg.jpg);
	
}

#main-container {
	
	background-image:url(/theme/younited-nations-3/img/yn3-bg.gif);
	min-height:1200px;
	background-position:center 20px;
	background-repeat:no-repeat;
	
}

#younited-nations-entry {
	
	margin-top:-40px;
	
	
}

#younited-nations-entry .entry-form-div {
	
	width:728px;
	float:left;
}

#younited-nations-entry .entry-form-div .yn3-container {

	background-image:url(/theme/younited-nations-3/img/yn3-form-bg.png);
	margin-top:324px;
	
}

#younited-nations-entry .entry-form-div .yn3-container-top {
	
	background-image:url(/theme/younited-nations-3/img/v2-bg-top.png);
	background-repeat:no-repeat;
	margin-top:-324px;	
	min-height:600px;
	float:left;
}

#younited-nations-entry .entry-form-div .form-content {

	min-height:600px;	
	
}

#younited-nations-entry .entry-form-div .form-content {

	padding-top:250px;	
	
}

#younited-nations-entry .entry-form-div .form-content .rules {

	color:black;
	
	width:92%;
	margin:auto;
}

#younited-nations-entry .entry-form-div .form-content .rules p {

	font-family:'Courier';	
	font-size:12px;
	line-height:15px;
	text-align:justify;
	letter-spacing:.5px;
}

#younited-nations-entry .entry-form-div .form-content .rules .heading {
	
	border-bottom:2px solid #000;
	padding-bottom:0px;
	font-size:12px;
	font-weight:bold;
	font-family:'Arial';
}


#younited-nations-entry #entry-form {

	margin:auto;
	width:658px;
	background-image:url(/theme/younited-nations-3/img/yn3-form-borders.png);
	min-height:400px;
}

#younited-nations-entry #entry-form .inner {

	width:97%;
	margin:auto;	
	
}

#younited-nations-entry #entry-form .form-header {
	
	background-image:url(/theme/younited-nations-3/img/yn3-entry-form-header.jpg);
	height:47px;
	margin-bottom:10px;
}



#younited-nations-entry #entry-form .text,#younited-nations-entry #entry-form .select {
	
	height:40px;
	position:relative;
	margin-top:10px;
}



#younited-nations-entry #entry-form .text input, #younited-nations-entry #entry-form .text select {
	
	
	position:absolute;
	border:none;
	background-color:transparent;
	display:block;
	left:0px;
	top:0px;
	width:96%;
	height:22px;
	border-bottom:2px solid #444;
	font-family:'Courier';
	font-size:14px;
}



#younited-nations-entry #entry-form .text label,#younited-nations-entry #entry-form .select label {
	
	position:absolute;
	display:block;
	left:0px;
	top:27px;
	font-family:'Arial';
	color:black;
	font-size:11px;
	font-weight:bold;
	width:97%;
}


#younited-nations-entry #entry-form .heading {

	height:18px;
	text-indent:15px;
	background-image:url(/theme/younited-nations-3/img/entry-form-heading-bg.jpg);
	
}

#younited-nations-entry #entry-form .facebook-login-large {


	text-align:center;

}

#younited-nations-entry #entry-form .crew-info-form {
	
		
	
}
	
#younited-nations-entry #entry-form .crew-info-form .info-form {

	width:45%;		
	float:left;
}

#younited-nations-entry #entry-form .crew-info-form .map {

	float:right;
	width:52%;	
	height:250px;
	margin-top:10px;
}

#younited-nations-entry .right-col {
	
	
	
}


#younited-nations-entry #entry-form .green-label-check {

	background-image:url(/theme/younited-nations-3/img/yn3-green-check.png);
	background-repeat:no-repeat;
	background-position:right center;	
	
	
}


#younited-nations-entry #entry-form .red-label-x {
	
	background-image:url(/theme/younited-nations-3/img/yn3-red-x.png);
	background-repeat:no-repeat;
	background-position:right center;
	
}

#yn3-overlay {

	position:fixed;
	z-index:1900;
	background-image:url(/theme/younited-nations-3/img/overlay-bg.png);
	width:100%;	
	
}

.roster-form-bit {
	
	width:315px;
	height:47px;
	background-image:url(/theme/younited-nations-3/img/crew-entry-bg.png);
	margin-top:3px;
	margin-bottom:3px;
	float:left;
	margin-right:4px;
	font-family:'Courier';
	color:black;
}

.roster-form-bit-enabled {

		
	
}

.roster-form-bit .enabled { }


.roster-form-bit .roster-inner {
	
	padding-top:2px;
	width:100%;
	
}


.roster-form-bit .form-body {
	
	
}

.roster-form-bit .form-body .left {
	
	float:left;
	width:50px;
	
	min-height:20px;
}

.roster-form-bit .form-body .left .number {

	float:right;
	width:48%;
	font-size:12px;
	
		
}

.roster-form-bit .form-body .left .chk {

	float:left;
	width:48%;	
	
}

.roster-form-bit .form-body .left .chk input {

	background-color:transparent;
	border:2px solid #000;	
	
}

.roster-form-bit .form-body .center {
	
	margin-left:55px;
	margin-right:45px;
	min-height:20px;
}

.roster-form-bit .form-body .center input {

	background-color:transparent;
	border:none;
	border-bottom:2px solid #444;	
	font-family:'Courier';
	width:100%;
	height:16px;
	font-size:14px;
}

.roster-form-bit .form-body .right {
	
	float:right;
	width:45px;

	min-height:20px;
}



