@CHARSET "UTF-8";

body {

	background-image:url(/theme/younited-nations-3/img/bg.jpg);
	
}

#main-container {
	
	background-image:url(/theme/younited-nations-3/img/yn3-main-bg.gif);
	min-height:1200px;
	background-position:center 50px;
	background-repeat:no-repeat;
	
}

#younited-nations-entry {
	
	margin-top:-40px;
	
	
}

#younited-nations-entry .entry-form-div {
	
	width:728px;
	float:left;
}

#younited-nations-entry .entry-form-div .container {

	background-image:url(/theme/younited-nations-3/img/yn3-form-bg.png);
	margin-top:324px;	
	
}

#younited-nations-entry .entry-form-div .container-top {
	
	background-image:url(/theme/younited-nations-3/img/yn3-form-top.jpg);
	background-repeat:no-repeat;
	margin-top:-324px;	
	
}

#younited-nations-entry .entry-form-div .form-content {

	min-height:600px;	
	
}

#younited-nations-entry .entry-form-div .form-content {

	padding-top:180px;	
	
}

#younited-nations-entry .entry-form-div .form-content .rules {

	color:black;
	
	width:92%;
	margin:auto;
}

#younited-nations-entry .entry-form-div .form-content .rules p {

	font-family:'Courier';	
	font-size:14px;
	line-height:17px;
	text-align:justify;
	
}

#younited-nations-entry .entry-form-div .form-content .rules .heading {
	
	text-align:center;
	text-decoration:underline;
	
}


#younited-nations-entry #entry-form {

	margin:auto;
	width:658px;
	background-image:url(/theme/younited-nations-3/img/yn3-form-borders.png);
	min-height:400px;
}

#younited-nations-entry #entry-form .inner {

	width:97%;
	margin:auto;	
	
}

#younited-nations-entry #entry-form .form-header {
	
	background-image:url(/theme/younited-nations-3/img/yn3-entry-form-header.jpg);
	height:47px;
	margin-bottom:10px;
}



#younited-nations-entry #entry-form .text,#younited-nations-entry #entry-form .select {
	
	height:40px;
	position:relative;
	margin-top:10px;
}

#younited-nations-entry #entry-form .text input, #younited-nations-entry #entry-form .text select {
	
	
	position:absolute;
	border:none;
	background-color:transparent;
	display:block;
	left:0px;
	top:0px;
	width:96%;
	height:22px;
	border-bottom:2px solid #444;
	font-family:'Courier';
	font-size:14px;
}

#younited-nations-entry #entry-form .text label,#younited-nations-entry #entry-form .select label {
	
	position:absolute;
	display:block;
	left:0px;
	top:27px;
	font-family:'Arial';
	color:black;
	font-size:11px;
	font-weight:bold;
	width:97%;
}


#younited-nations-entry #entry-form .heading {

	height:18px;
	text-indent:15px;
	background-image:url(/theme/younited-nations-3/img/entry-form-heading-bg.jpg);
	
}

#younited-nations-entry #entry-form .crew-info-form {
	
		
	
}
	
#younited-nations-entry #entry-form .crew-info-form .info-form {

	width:45%;		
	float:left;
}

#younited-nations-entry #entry-form .crew-info-form .map {

	float:right;
	width:52%;	
	height:250px;
	margin-top:10px;
}

#younited-nations-entry .right-col {
	
	
	
}


#younited-nations-entry #entry-form .green-label-check {

	background-image:url(/theme/younited-nations-3/img/yn3-green-check.png);
	background-repeat:no-repeat;
	background-position:right center;	
	
	
}


#younited-nations-entry #entry-form .red-label-x {
	
	background-image:url(/theme/younited-nations-3/img/yn3-red-x.png);
	background-repeat:no-repeat;
	background-position:right center;
	
}


