header {

	background-image:url(/theme/unified/img/top-bar-bg.png);


}

#top-nav-div #top-nav-list li.spacer {

	background-image:url(/theme/unified/img/nav-spacer.png);

}



/*
######################\
PROFILE STUFF
#######################
*/

#unified-store-profile {

	position: relative;

}

#profile-header {

	position:absolute;
	width:100%;
	top:20px;
}

#profile-header .left {

	float:left;

}

#profile-header .right {

	float:right;

}

#profile-header .center {

	margin-left:35px;
	margin-right:72px;
	background-image:url(/theme/unified/img/profile-header-bg.png);
	background-repeat:repeat-x;
	height:76px;
	color:#ccc;
	font-size:33px;
	font-family:'universcnb';
	line-height:62px;

}

#unified-store-profile .profile-body-container {

	width:1130px;
	margin:auto;
	background-color:#fff;
	min-height:500px;
	padding-top:85px;
	padding-right:15px;
	padding-left:15px;
}

#unified-store-profile .top-info {

	padding-top:15px;

}

#unified-store-profile .top-info .left {

	width:325px;
	float:left;
	
	
	min-height:50px;
}

#unified-store-profile .top-info .left .shop-name {

	clear:both;
	font-size:24px;
	text-align:left;
	font-family:'universcnb';
	padding-bottom:10px;
}

#unified-store-profile .top-info .left .logo {

	width:100px;
	float:left;
	text-align:center;
}

#unified-store-profile .top-info .left .logo .open-closed {

	padding-top:30px;
	font-size:28px;
}

#unified-store-profile .top-info .left .logo .open-closed .open {

	color:green;

}

#unified-store-profile .top-info .left .store-details {

	float:right;
	width:205px;
	padding-left:5px;
	padding-right:5px;
}

#unified-store-profile .top-info .left .store-details .street-address {

	font-size:18px;
	line-height:22px;
}


#unified-store-profile .top-info .left .store-details .store-hours-text {

	
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	font-family:'Times New Roman';
	padding:8px;
	font-size:15px;


}

#unified-store-profile .top-info .right {

	width:760px;
	float:right;
	
	
	min-height:50px;

}






