

#unified-site-index {

	position: relative;

}


#unified-site-index .index-body-container {

	width:1130px;
	margin:auto;
	background-color:#fff;
	min-height:500px;
	padding-top:85px;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:46px;
	

}

#unified-site-index #locator {



}

#unified-site-index #locator .map-column {

	width:800px;
	float:right;

}


#unified-site-index #locator .results-column {

	float:left;
	width:285px;

}


/*
MAP STUFF
*/

#unified-site-index #locator #map-container {


}

#map_canvas {

	height:485px;
	width:100%;

}


#map_canvas img {

	max-width: none;

}
#map-container {
	
	float:right;
	width:785px;
	min-height:450px;
}


.shop-bubble {



}

.shop-bubble .shop-name {


	font-family:'universcnb';
	font-size:18px;

}

.shop-bubble .shop-inner {

	font-family: 'universcn';

}

.shop-bubble .shop-inner strong {

	font-family:'universcnb';

}

.shop-bubble .shop-address,
.shop-bubble .shop-city {

	font-size:12px;
	/*font-family: 'courier';*/
	line-height: 14px;
	

}

.shop-bubble .shop-phone,
.shop-bubble .shop-email {

	font-size:12px;

}

.shop-bubble .hours-directions {


}

.shop-bubble .hours-directions .hours-today {

	float:left;
	width:43%;


}

.shop-bubble .hours-directions .directions {

	float:right;
	width:55%;
	font-family: 'universcnb';
	text-align: right;
	white-space: nowrap;
	padding-right:10px;
	line-height:40px;
}

.dummy {

	position: absolute;
	display:none;
	width:auto;
	height:auto;

}