

/*
######################\
PROFILE STUFF
#######################
*/

#unified-store-profile {

	position: relative;

}

#unified-store-profile strong {


	font-family:'universcnb';

}

#profile-header {

	position:absolute;
	width:100%;
	top:20px;
}

#profile-header .left {

	float:left;

}

#profile-header .right {

	float:right;

}

#profile-header .center {

	margin-left:35px;
	margin-right:72px;
	background-image:url(/theme/unified/img/profile-header-bg.png);
	background-repeat:repeat-x;
	
	height:76px;
	color:#ccc;
	font-size:33px;
	font-family:'universcnb';
	line-height:62px;

}

#unified-store-profile .profile-body-container {

	width:1130px;
	margin:auto;
	background-color:#fff;
	min-height:500px;
	padding-top:85px;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:46px;
	background-image:url(/theme/unified/img/profile-bottom-line-break.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;

}

#unified-store-profile .top-info {

	padding-top:15px;
	background-image:url(/theme/unified/img/profile-div-bg.jpg);
	background-position:left top;
	background-repeat:repeat-y;

}

#unified-store-profile .top-info .left {

	width:325px;
	float:left;
	
	
	min-height:50px;
}

#unified-store-profile .top-info .left .shop-name {

	clear:both;
	font-size:24px;
	text-align:left;
	font-family:'universcnb';
	padding-bottom:10px;
}

#unified-store-profile .top-info .left .logo {

	width:100px;
	float:left;
	text-align:center;
}

#unified-store-profile .top-info .left .logo .open-closed {

	padding-top:30px;
	font-size:28px;
}

#unified-store-profile .top-info .left .logo .open-closed .open {

	color:green;

}

#unified-store-profile .top-info .left .logo .open-closed .closed {

	color:red;

}

#unified-store-profile .top-info .left .store-details {

	float:right;
	width:205px;
	padding-left:5px;
	padding-right:5px;
}

#unified-store-profile .top-info .left .store-details .street-address {

	font-size:18px;
	line-height:22px;
}

#unified-store-profile .top-info .left .store-details .parking-situation {

	font-family:'universcnb';
	font-size:14px;

}

#unified-store-profile .top-info .left .store-details .store-hours-text {

	
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	font-family:'Times New Roman';
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
	margin-top:4px;


}

#unified-store-profile .top-info .left .store-details  .website-url {

	padding-top:5px;
	padding-bottom:5px;

}

#unified-store-profile .social-networks {

	padding-top:5px;
	padding-bottom:5px;

}

#unified-store-profile .social-networks .social-div {

	line-height:30px;

}

#unified-store-profile .social-networks .social-div img { 

	float:left;

}

#unified-store-profile .top-info .directions-link {

	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	width:265px;
	margin:auto;
	font-family: 'universcnb';
}


#unified-store-profile .top-info .right {

	width:760px;
	float:right;
	
	min-height:50px;

}

#unified-store-profile .top-info .right .inner {


	padding-left:35px;
	padding-right:35px;

}

#unified-store-profile .top-info .right .bio {


}

#unified-store-profile .top-info .right .bio .main-img {

	padding-bottom:15px;

}


#unified-store-profile .map-container {

	clear:both;
	box-shadow:inset 0 0 5px #000000;
	background-repeat:no-repeat;
	background-position:center top;
	padding:8px;
}

#unified-store-profile #map_canvas {

	height:280px;
	width:95%;
	margin:auto;


}

#profile-tab-nav {

	margin-top:-46px;

}

#profile-tab-nav ul {

	list-style:none;
	margin:0;
	padding:0;

}

#profile-tab-nav ul li {

	float:left;
	height:46px;
	background-image:url(/theme/unified/img/profile-tab-bg.png);

}

#profile-tab-nav .tab-b {

	color:#fff;
	padding-left:20px;
	padding-right:20px;
	font-size:17px;
	line-height:50px;
	
}

#profile-tab-nav .tab-b:hover,
#profile-tab-nav .active {

	background-image:url(/theme/unified/img/profile-tab-hover.png);
	cursor: pointer;

}

#profile-tab-nav .tab-s {

	background-image:url(/theme/unified/img/profile-tab-seperator.png);
	width:2px;

}

#profile-tab-nav ul .left {

	width:12px;
	background-image:url(/theme/unified/img/profile-tab-left.png);

}


#profile-tab-nav ul .right {

	width:21px;
	background-image:url(/theme/unified/img/profile-tab-right.png);

}

#unified-store-profile .tab-body-container {

	width:1130px;
	margin:auto;
	background-color:#fff;
	
	padding-right:15px;
	padding-left:15px;
	padding-bottom:50px;
}

#unified-store-profile #brands .brand {

	float:left;
	margin:8px;
}

#unified-store-profile #employees {

	
	margin:auto;

}

#unified-store-profile #employees .employee {

	float:left;
	margin-top:10px;
	width:48%;

}

#unified-store-profile #employees .employee .social-div {

	float:left;

}

#unified-store-profile #employees .employee .profile-img {

	margin-left:1%;
	width:30%;
	float:left;
	
}

#unified-store-profile #employees .employee .info {

	width:68%;
	float:right;

}


#unified-store-profile #employees .employee .name {

	font-family:'universcnb';
	font-size:28px;
	padding-top:10px;

}

#unified-store-profile #employees .employee .title {

	font-family:'universcnb';

}


#unified-store-profile #team {


	margin:auto;

}

#unified-store-profile #team .team {

	float:left;
	margin-top:10px;


}

#unified-store-profile #team .team .profile-img {

	margin-bottom:5px;
	width:30%;
	float:left;
}

#unified-store-profile #team .team .info {

	float:right;
	width:68%;

}

#unified-store-profile #team .team .name {

	font-family:'universcnb';


}

#unified-store-profile #team .team .title {

	font-family:'universcnb';

}



