body {


background-image:url(/theme/bon-voyage/img/background.jpg);
background-color:#fff;

}

#body-row {

	padding-top:85px;

}

#bon-voyage {

	background-image:url(/theme/bon-voyage/img/bg.jpg);
	background-color:#fff;
	background-repeat: no-repeat;
	width:900px;
	height:1488px;
	margin:auto;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.78);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.78);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.78);

}

#bon-voyage .bottom {

	text-align: center;

}

#post {

	height:609px;
	background-image:url(/theme/bon-voyage/img/post-bg.png);
	background-position:center top;
	background-repeat: no-repeat;
	padding-top:42px;
}

#post .post {

	border:none;

}

#post .post .post-top {

	display: none;

}

#post .post .post-media-div,
#post .post .post-media-div object,
#post .post .post-media-div video {

	height:453px;
	max-height: 453px;
	width:800px;
	max-width:800px;

}

.load-more {
	
	width:900px;
	margin:auto;
	background-color:#fff;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.78);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.78);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.78);
	margin-top:20px;
	text-align: center;

}