label,input, textarea, select {
	display: block;
	float: left;
	margin-bottom: 10px;
}

input, select {
	width: 200px;
}

textarea {
	width: 260px;
	height: 100px;
}

label {
	text-align: right;
	width: 100px;
	padding-right: 20px;
}

br {
	clear: left;
}

form {
	margin: 0px 0px 0px 20px;
}

.sendo {
	width: 100px;
	margin: 10px 0px 18px 120px;
}

.sender {
	width: 80px;
	margin: 0px;
}

#conhea {
	margin: 0px 0px 0px 120px;
	padding: 20px;
}

.contits {
	font-size: 14px;
	font-weight: bold;
	color: #151515;
	margin: 0px;
}

.conerr {
	margin: 0px 100px 10px 140px;
	font-size: 14px;
	color: #660000;
}

form#search {
	margin: 0px 0px 40px 5px;
}

.conlist ul {
	list-style: none;
	margin-left: 0px;
}

.conlist li {
	margin: 0px 0px 4px 0px;
	list-style: none;
	text-indent: -30px;
}

.conlist li a:link {
	text-decoration: none;
	color: #660000;
}
.conlist li a:visited {
	text-decoration: none;
	color: #660000;
}
.conlist li a:hover {
	text-decoration: underline;
	color: #CC0000;
}
.conlist li a:active {
	text-decoration: underline;
	color: #CC0000;
}

li.brik {
	font-weight: bold;
	font-size: 12px;
	color: #333333;
	margin: 12px 0px 4px 0px;
}