body {

	background-image:url(/theme/battle-at-the-berrics-6/img/bg.png);


}

#batb6-body {

	padding-top:15px;
	-moz-box-shadow: 0px 5px 5px #888;
	-webkit-box-shadow: 0px 5px 5px #888;
	box-shadow: 0px 5px 5px #888;
	background-color: #fff;
	min-width:1170px;
}

#batb6-body .my-score-btn {

	padding:10px;
	text-align: center;
	margin-top: 5px;
	margin-bottom:5px;
	background-color:#147ec2;

}

#batb6-body .my-score-btn a {

	display: block;
	color:#fff;
	font-size:18px;
	font-family: 'universcnb'

}

#batb6-body .top-header {


}
#batb6-body .top-header .top-dc-flag {

	float:left;
	margin-left:35px;
}

#batb6-body .top-header .top-banner {

	width:728px;
	height:90px;
	
	float:left;
	margin-left:10px;

}

#batb6-body .top-header .top-lrg-logo {

	float:left;
	margin-left:10px;
}

#batb6-body .main-logo {

	margin-top:8px;
	text-align: center;

}
#batb6-body .post-view {

	max-width: 728px;
	margin:auto;

}

#batb6-body .voting-div {

	background-color:#147ec2;
	padding-bottom: 30px;

}

#batb6-body .voting-div ul {

	margin-top: 10px;
	width:520px;
}

#batb6-body .voting-div ul li {

	color:#fff;
	font-size: 16px;
	margin-bottom:3px;
}

#batb6-body .voting-div table {

	width:250px;
	border:1px solid #e9e9e9;
	border-left:none;
	border-bottom:none;
}

#batb6-body .voting-div table td {

	border:1px solid #e9e9e9;
	border-right:none;
	border-top:none;
	background-color:#d94e24;
	padding:2px;

}

#batb6-body .voting-div table td:nth-child(even) {

	background-color: #147ec2;

}


#batb6-body .voting-div .inner {

	padding-left:30px;
	padding-right:30px;
	padding-top:15px;

}
#batb6-body .voting-div .rules .left {
	color:#fff;
	float:left;
	width:800px;
}

#batb6-body .voting-div .rules .right {

	width:300px;
	height:250px;
	
	float:right;
	margin-top:16px;
	margin-bottom:15px;
}

#batb6-body .voting-box {

	border:3px solid #000;
	width:49%;
	float:left;
	background-color: #fff;
}

#batb6-body .voting-box:nth-child(2) {

	float:right;

}

#batb6-body .voting-box .voting-heading {

	font-family: 'universcnb';
	text-align: center;
	height:60px;
	line-height: 70px;
	color: #fff;
	font-size:36px;
	background-color:#d94e24;
	letter-spacing: 5px;

}

#batb6-body .voting-box .names {


	background-image:url(/theme/battle-at-the-berrics-6/img/voting-name-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 95px;
	border-bottom:3px solid #000;
}
#batb6-body .voting-box .name {

	float:left;
	width:40%;
	text-align: center;

}

#batb6-body .voting-box .name:nth-child(2) {

	float:right;


}
#batb6-body .voting-box .name .first {

	font-size:22px;
	margin-top: 8px;

}

#batb6-body .voting-box .name .last {

	font-family: 'universcnb';
	font-size:36px;
	margin-top: 8px;
}

#batb6-body .voting-box .result {

	clear:both;
	height:40px;
	line-height: 35px;
	font-size: 18px;
	border-bottom:2px dotted #000;

}



.voting-box label {

	width:48%;
	float:left;
	text-align: right;
	padding-right:5px;
	font-size: 18px;
	font-family: 'universcnb';
	line-height: 35px;
	margin-bottom:0;
}

.voting-div .submit-div {

	text-align: center;
	padding-top:10px;
}

.voting-div .tweet-button-div,
.voting-div .fb-button-div {

	padding:10px;
	text-align: center;

}

.voting-box .btn {

	background-color:#d94e24;
	background-image:none;
	color:#fff;
	font-size: 18px;

}

.voting-box .result-heading {

	color:#d94e24;
	text-align: center;
	padding-top:8px;
	font-family: 'universcnb';
	font-size: 16px;

}

#voting-box-form {



}

#voting-box-form .input {

	height:35px;
	border-bottom:2px dotted #000;
	margin-top: 5px;

}

#batb6-body .additional {

	padding-top:10px;
	padding-bottom:30px;
	min-height:350px;
}

#batb6-body .additional .heading {

	color:#147ec2;
	border-bottom:2px solid #d94e24;
	font-size:24px;
	font-family: 'universcnb';
	margin-bottom: 5px;

}

#batb6-body .additional .battles {

	width:48%;
	float:left;
	margin-left:1%;

}

#batb6-body .additional .scores {

	width:48%;
	float:right;
	margin-right: 1%;

}

#batb6-body .scores .weekly {

	width:49%;
	float:left;

}

#batb6-body .scores .overall {

	width:49%;
	float:right;

}
#batb6-body .scores .leader-summary-heading {

	background-color:#147ec2;
	padding:8px;
	text-align: center;
	color:#fff;
	font-family: 'universcn';
	font-size: 22px;
	letter-spacing: 3px;
	line-height: 24px;
	height:32px;
}

#batb6-body .scores table td:nth-child(odd) {

	color:#d94e24;

}


#batb6-body .bracket-div {

	background-image:url(/theme/battle-at-the-berrics-6/img/bracket-heading.png);
	background-position: top center;
	background-repeat:no-repeat;
	min-height:400px;

}

#batb6-body .bracket-div .shim {

	height:185px;

}

#batb6-body .bracket-div .bracket {

	background-image:url(/theme/battle-at-the-berrics-6/img/bracket.png);
	background-position: center 5px;
	background-repeat: no-repeat;
	height:435px;
	margin:auto;
	position:relative;

}

#batb6-body .bracket-div .bracket .col {



}

#batb6-body .bracket-div .bracket .col1 {

	float:left;
	width:145px;
	

}


#batb6-body .bracket .match a {

	background-color: #fde5c9;

}

#batb6-body .bracket-div .bracket .col1 .match:nth-child(2) {

	margin-top:12px;

}
#batb6-body .bracket-div .bracket .col1 .match:nth-child(3) {

	margin-top:12px;

}
#batb6-body .bracket-div .bracket .col1 .match:nth-child(4) {

	margin-top:12px;

}

#batb6-body .bracket-div .bracket .col1 .match:nth-child(5) {

	margin-top:40px;

}

#batb6-body .bracket-div .bracket .col1 .match:nth-child(6) {

	margin-top:9px;

}

#batb6-body .bracket-div .bracket .col1 .match:nth-child(7) {

	margin-top:12px;

}
#batb6-body .bracket-div .bracket .col1 .match:nth-child(8) {

	margin-top:12px;

}

#batb6-body .bracket-div .bracket .col2 {

	float:right;
	width:145px;

	
}


#batb6-body .bracket-div .bracket .col2 .match .player {

	text-align: left;

}

#batb6-body .bracket-div .bracket .col2 .match:nth-child(2) {


	margin-top:12px;

}

#batb6-body .bracket-div .bracket .col2 .match:nth-child(3) {


	margin-top:12px;

}
#batb6-body .bracket-div .bracket .col2 .match:nth-child(4) {


	margin-top:12px;

}

#batb6-body .bracket-div .bracket .col2 .match:nth-child(5) {


	margin-top:40px;

}

#batb6-body .bracket-div .bracket .col2 .match:nth-child(6) {


	margin-top:9px;

}

#batb6-body .bracket-div .bracket .col2 .match:nth-child(7) {


	margin-top:12px;

}

#batb6-body .bracket-div .bracket .col2 .match:nth-child(8) {


	margin-top:12px;

}


#batb6-body .bracket-div .bracket .col3 {

	float:left;
	width:125px;

	margin-left:10px;
	
}

#batb6-body .bracket-div .bracket .col3 .match:nth-child(1) .mspacer {


	height:31px;

}

#batb6-body .bracket-div .bracket .col3 .match:nth-child(2) {


	margin-top: 35px;

}

#batb6-body .bracket-div .bracket .col3 .match:nth-child(2) .mspacer {

	height:31px;

}

#batb6-body .bracket-div .bracket .col3 .match:nth-child(3) {


	margin-top: 56px;

}

#batb6-body .bracket-div .bracket .col3 .match:nth-child(3) .mspacer {

	height:31px;

}

#batb6-body .bracket-div .bracket .col3 .match:nth-child(4) {


	margin-top: 35px;

}
#batb6-body .bracket-div .bracket .col3 .match:nth-child(4) .mspacer {

	height:30px;

}


#batb6-body .bracket-div .bracket .col4 {

	float:right;
	width:131px;

	margin-left:10px;
	
}

#batb6-body .bracket-div .bracket .col4 .match .player {

	text-align: left;

}

#batb6-body .bracket-div .bracket .col4 .match:nth-child(1) .mspacer {


	height:31px;

}

#batb6-body .bracket-div .bracket .col4 .match:nth-child(2) {


	margin-top: 35px;

}

#batb6-body .bracket-div .bracket .col4 .match:nth-child(2) .mspacer {

	height:31px;

}

#batb6-body .bracket-div .bracket .col4 .match:nth-child(3) {


	margin-top: 56px;

}

#batb6-body .bracket-div .bracket .col4 .match:nth-child(3) .mspacer {

	height:31px;

}

#batb6-body .bracket-div .bracket .col4 .match:nth-child(4) {


	margin-top: 35px;

}
#batb6-body .bracket-div .bracket .col4 .match:nth-child(4) .mspacer {

	height:30px;

}


#batb6-body .bracket-div .bracket .col5 {

	float:left;
	width:110px;
	
	margin-top: 24px;
}

#batb6-body .bracket-div .bracket .col5 .match:nth-child(1) .mspacer {

	height:86px;

}

#batb6-body .bracket-div .bracket .col5 .match:nth-child(2) {

	margin-top:111px;

}
#batb6-body .bracket-div .bracket .col5 .match:nth-child(2) .mspacer {

	height:86px;

}

#batb6-body .bracket-div .bracket .col6 {

	float:right;
	width:100px;
	
	margin-top: 24px;
}

#batb6-body .bracket-div .bracket .col6 .match .player {

	text-align: left;

}

#batb6-body .bracket-div .bracket .col6 .match:nth-child(1) .mspacer {

	height:86px;

}

#batb6-body .bracket-div .bracket .col6 .match:nth-child(2) {

	margin-top:111px;

}
#batb6-body .bracket-div .bracket .col6 .match:nth-child(2) .mspacer {

	height:86px;

}



#batb6-body .bracket-div .bracket .col7 {

	float:left;
	width:110px;
	margin-top:76px;
	
}

#batb6-body .bracket-div .bracket .col7 .match:nth-child(1) .mspacer {

	height:222px;

}

#batb6-body .bracket-div .bracket .col8 {

	float:right;
	width:110px;
	margin-top:76px;
	
}

#batb6-body .bracket-div .bracket .col8 .match:nth-child(1) .player {

	text-align: left;

}

#batb6-body .bracket-div .bracket .col8 .match:nth-child(1) .mspacer {

	height:222px;

}



#batb6-body .bracket-div .bracket .col9 {

	float:left;
	width:160px;
	
	
}

#batb6-body .bracket-div .bracket .col9 .match {

	margin-top: 133px;

}

#batb6-body .bracket-div .bracket .col9 .match .player {

	text-align: center;

}

#batb6-body .bracket-div .bracket .col9 .match .mspacer {

	height:107px;

}

#batb6-body .bracket-div .bracket .match {



}
#batb6-body .bracket-div .bracket .match .player {

	text-align:right;
	font-size:14px;

}




/*
BRACKET>MATCH POSITION
*/
 #batb6-body .bracket-div .bracket .bracket-5 {

 	left:85px;

 }
 #batb6-body .bracket-div .bracket .bracket-5 .mspacer {}
 #batb6-body .bracket-div .bracket .bracket-4 {}
 #batb6-body .bracket-div .bracket .bracket-4 .mspacer {}
 #batb6-body .bracket-div .bracket .bracket-3 {}
 #batb6-body .bracket-div .bracket .bracket-3 .mspacer {}
 #batb6-body .bracket-div .bracket .bracket-2 {}
 #batb6-body .bracket-div .bracket .bracket-2 .mspacer {}
 #batb6-body .bracket-div .bracket .bracket-1 {}
 #batb6-body .bracket-div .bracket .bracket-1 .mspacer {}

/*
MATCHES
*/

#batb6-body .bracket-div .bracket .match-5-0 { 

	top:-4px;

}
#batb6-body .bracket-div .bracket .match-5-0 .mspacer { }

#batb6-body .bracket-div .bracket .match-5-1 { 

	top:50px;

}

#scorecard .card-heading {

	background-image:url(/theme/battle-at-the-berrics-6/img/bracket-heading.png);
	background-repeat: no-repeat;
	
	background-position: top center;

}

#scorecard .card-heading .profile {

	width:700px;
	float: left;
	padding-top:10px;
	margin-left:10px;

}
#scorecard .card-heading .profile .name {

	font-family: 'universcnb';
	font-size: 32px;

}
#scorecard .card-heading .profile .social-networking {

	clear:both;
	margin-top:10px;
	margin-bottom: 10px;
}

#scorecard .card-heading .profile .fb-like {

	float:left;
	margin-right:5px;
}

#scorecard .card-heading .profile .twitter {

	float:left;

}

#scorecard .card-heading .profile table {

	clear:both;
	margin-top: 20px;

}

#scorecard .card-heading .profile table td {

	border-bottom:2px solid #000;
	padding:8px;
	font-size: 24px;

}

#scorecard .card-heading .profile table td:nth-child(odd) {

	font-family: 'universcnb';

}

#scorecard .card-heading .profile table td:nth-child(even) {

	text-align: right;

}

#scorecard .card-heading .right-banner {

	float:right;
	margin-right:60px;

}

#scorecard .battle-card {

	width:49%;
	float:left;

}

#scorecard .battle-card .inner {


	padding:10px;

}

#scorecard .battle-card:nth-child(even) {

	float:right;

}

#scorecard .battle-card table {

	width:100%;
	border:2px solid #000;
	border-radius: 8px;
}

#scorecard .battle-card table thead tr {


	background-color: #d94e24;
	color:#fff;
}
#scorecard .battle-card table thead tr td {

	padding:5px;
	border-bottom:2px solid #000;

}

#scorecard .battle-card table td {

	text-align: center;
	border-left:2px solid #000;

}

#scorecard .battle-card table tbody td {

	font-family: 'universcnb'

}














